<div class="dpt_header">
	<div class="dpt_headnav">
    	{% include "master_page/top_page.html" %}
        <ul class="dpt_headnav_r" style="margin-top:10px;">
            <div class="seach">
              <div class="seach_l">
                <input name="" type="text" />
              </div>
              <div class="seach_r">
                <input name="" type="button" />
              </div>
            </div>
            <div class="header_nav">
              <ul class="f14">
                <li><a href="#">app</a></li>
                <li><a href="#">公众号</a></li>
                <li><a href="#">投稿</a></li>
                <li><a href="#">登陆</a></li>
              </ul>
            </div>
        </ul>
    </div>
    {% if pic==1 %}
    <div class="gsp_logo"><a href="/" class="gsp_logo_a01"><img src="/static/images/hlj-logo.png"/></a><a href="/fllist/5" class="gsp_logo_a02"><img src="/static/images/gss-logo02.png"/></a></div>
    {% elif pic==2 %}
    <div class="gsp_logo"><a href="/" class="gsp_logo_a01"><img src="/static/images/hlj-logo.png"/></a><a href="/fllist/6" class="gsp_logo_a02"><img src="/static/images/ztx-logo02.png"/></a></div>
    {% elif pic==3 %}
    <div class="gsp_logo"><a href="/" class="gsp_logo_a01"><img src="/static/images/hlj-logo.png"/></a><a href="/fllist/8" class="gsp_logo_a02"><img src="/static/images/xyd-logo02.png"/></a></div>
    {% endif %}


</div>
<div class="gsp_menu">
    <div class="gsp_navBar">
        <ul class="gsp_nav gsp_clearfix">
            <li class="m"><h3><a href="/fllist/5"{% if ys=="sy" %} style="background-color: #46abd0;" {% endif %}>首页</a></h3></li>
            {% for i in name_list %}
            <li class="m" style="padding-left:20px;">
                <h3>
                    <a {% if cid==i._id %} style="background-color:#46abd0;"{% endif %} href="{{ i.Href }}">{{ i.Name }}</a>
            </h3>
            </li>
            {% endfor %}
            <li class="gsp_block"></li>
            <!-- 滑动块 -->
        </ul>
    </div>
</div>