<div class="header_r">
    <div class="seach">
        <div class="seach_l">
            <input name="" type="text" id="keyword" value="{{ keyword }}">
        </div>
        <div class="seach_r">
            <input name="" type="button" onclick="s_method()" >
        </div>
        <script>
            $(function(){
                $("#keyword").on("keydown",function(e){
                    if(e.keyCode==13){
                        s_method();
                    }
                })
            })
        </script>
    </div>
</div>