
<div class="header_r">
    <div class="seach">
        <div class="seach_l">
            <input name="" type="text" id="keyword" value="{{ keyword }}">
        </div>
        <div class="seach_r">
            <input name="" type="button" onclick="s_method()" >
        </div>
        <script>
            $(function(){
                $("#keyword").on("keydown",function(e){
                    if(e.keyCode==13){
                        s_method();
                    }
                })
            })
        </script>
    </div>
{#    <div class="header_nav">#}
{#        <ul class="f14">#}
{#            <li><a href="#">app</a></li>#}
{#            <li><a href="#">公众号</a></li>#}
{#            <li><a href="#">投稿</a></li>#}
{#            <li><a href="#">登陆</a></li>#}
{#        </ul>#}
{#    </div>#}
</div>