<ul class="dpt_headnav_l">
    <li><span><a href="/">黑龙江网首页</a></span>
        <p>|</p></li>
    <li><span><a href="/">看龙江</a></span>
        <p>|</p></li>
    <li><span><a href="/fllist/576500c6dcc88e31a6f3500c/">观时事</a></span>
        <p>|</p></li>
    <li><span><a href="/fllist/576500cfdcc88e31a7d2e4b9/">知天下</a></span>
        <p>|</p></li>
    <li><span><a href="/psd">品深度</a></span>
        <p>|</p></li>
    <li><span><a href="/fllist/576500e8dcc88e31a6f3500e/">享悦读</a></span>
        <p>|</p></li>
    <li><span><a href="/kbg">侃八卦</a></span>
{#        <p>|</p></li>#}
{#    <li><span><a href="#">晓百态1</a></span></li>#}
</ul>