<ul {% if ld2nd=='ld2nd' %}{% else %}class="dpt_headnav_l"{% endif %}>
    <li><span><a href="/" target="_blank">黑龙江网首页</a></span>
        <p>|</p></li>
    <li><span><a href="/klj" target="_blank">看龙江</a></span>
        <p>|</p></li>
    <li><span><a href="/index/5.html" target="_blank">观时事</a></span>
        <p>|</p></li>
    <li><span><a href="/index/6.html" target="_blank">知天下</a></span>
        <p>|</p></li>
    <li><span><a href="/psd" target="_blank">品深度</a></span>
        <p>|</p></li>
    <li><span><a href="/index/8.html" target="_blank">享悦读</a></span>
        <p>|</p></li>
    <li><span><a href="/kbg" target="_blank">侃八卦</a></span>
   <!--     <p>|</p></li>
    <li><span><a href="#">晓百态1</a></span></li>-->

</ul>