<ul {% if ld2nd=='ld2nd' %}{% else %}class="dpt_headnav_l"{% endif %}>
    <li><span><a href="/">黑龙江网首页</a></span>
        <p>|</p></li>
    <li><span><a href="/klj">看龙江</a></span>
        <p>|</p></li>
    <li><span><a href="/index/5.html">观时事</a></span>
        <p>|</p></li>
    <li><span><a href="/index/6.html">知天下</a></span>
        <p>|</p></li>
    <li><span><a href="/psd">品深度</a></span>
        <p>|</p></li>
    <li><span><a href="/index/8.html">享悦读</a></span>
        <p>|</p></li>
    <li><span><a href="/kbg">侃八卦</a></span>
{#        <p>|</p></li>#}
{#    <li><span><a href="#">晓百态1</a></span></li>#}

</ul>