<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>数据龙江-{{ channel.Name }}-黑龙江网</title>
    <meta name="render" content="webkit">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="{{ channel.word }}">
    <meta name="description" content="{{ channel.title }}">
    <link type="text/css" rel="stylesheet" href="/static/css/css.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
</head>
<body class="bgblue">
<div class="data-menu">
    <div class="data-navbar">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/klj/">看龙江</a></li>
            <li><a href="/index/5.html">观时事</a></li>
            <li><a href="/index/6.html">知天下</a></li>
            <li><a href="/psd/">品深度</a></li>
            <li><a href="/index/8.html">享阅读</a></li>
            <li><a href="/kbg/">侃八卦</a></li>
        </ul>
    </div>
</div>
<div class="data-header-outer">
    <div class="data-header">
        <div class="data-logo"><a href="/sjlj/"><img src="/static/images/sjlj-logo.png" width="175" height="60"/></a>
        </div>
        <div class="data-header-nav">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">推荐</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="data-content">
    <div class="data-con-main">
        <div class="data-con-m-title gray02"><span class="pink">{% if id==12344 %}NEW{% elif id==12345 %}PAST{% endif %}
            &nbsp;</span>{{ channel.Name }}</div>
        <ul class="data-new-list">{% for i in _news_list %}
                <li><h3><a href="/d/{{ i._id }}.html" target="_blank"><img src="{{ i.guide_image }}?w=278&h=212" width="278" height="212"/></a></h3>
                    <tt><a href="/d/{{ i._id }}.html" target="_blank"><p>{{ i.title }}</p></a><span>{{ i.summary }}</span></tt></li>{% endfor %}
        </ul>
    </div>
    <div style="margin-top: 30px;display: inline;width: 1200px;float: left;">
        <div class="jogger">
            {% autoescape false %}
            {{ pagebar_html }}
            {% endautoescape %}
        </div>
    </div>
</div><!--content end-->
<div class="data-footer">
    <div class="data-content">
        <div class="data-footer_logo"><img src="/static/images/sjlj-logo.png" width="175" height="60"/></div>
        <div class="data-footer_list">
            <ul class="f14">
                <li><a href="#">商务合作</a>&nbsp;&nbsp;<a href="#">问题反馈</a>&nbsp;&nbsp;<a href="#">关于我们</a></li>
                <li>Copyright © 2016-2026 www.chinahlj.com&nbsp;&nbsp;All Rights Reserved.</li>
                <li>制作单位：黑龙江网&nbsp;&nbsp;版权所有&nbsp;&nbsp;黑龙江新媒体集团有限公司&nbsp;&nbsp;&nbsp;&nbsp;黑ICP备&nbsp;&nbsp;15009298号-7</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
<!--以上代码编写：wt 20161010-->