<div class="dpt_header">
	<div class="dpt_headnav">
    	{% include "master_page/top_page.html" %}
        <ul class="dpt_headnav_r" style="margin-top:10px;">
            <div class="seach">
              <div class="seach_l">
                <input name="" type="text" />
              </div>
              <div class="seach_r">
                <input name="" type="button" />
              </div>
            </div>
            <div class="header_nav">
              <ul class="f14">
                <li><a href="#">app</a></li>
                <li><a href="#">公众号</a></li>
                <li><a href="#">投稿</a></li>
                <li><a href="#">登陆</a></li>
              </ul>
            </div>
        </ul>
    </div>
    <div class="gsp_logo"><a href="/" class="gsp_logo_a01"><img src="/static/images/hlj-logo3.png"/></a><a href="/klj" class="gsp_logo_a02"><img src="/static/images/lj-logo.png"/></a></div>


</div>
<div class="gsp_menu">
    <div class="gsp_navBar">
        <ul class="gsp_nav gsp_clearfix">
            <li class="m"><h3><a href="/klj"{% if ys=="sy" %} style="background-color: #46abd0;" {% endif %}>首页</a></h3></li>
            {% for i in menu %}
            <li class="m" style="padding-left:20px;">
                <h3>
                    <a {% if cid==i._id %} style="background-color:#46abd0;"{% endif %} href="/klj/list/{{ i.numid }}">{{ i.Name }}</a>
            </h3>
            </li>
            {% endfor %}
            <li class="gsp_block"></li>
            <!-- 滑动块 -->
        </ul>
    </div>
</div>