<div class="dpt_header">
    <div class="dpt_headnav">
        {% include "master_page/top_page.html" %}
        {% include "master_page/search_page.html" %}
    </div>
    <div class="dpt_logo"><a href="/kbg/"><img src="/static/images/kbg-logo.png" width="355px" height="53px;"/></a></div>

</div>
<div class="gsp_menu">
    <div class="gsp_navBar">
        <ul class="gsp_nav gsp_clearfix">
            <li class="m"><h3><a  href="/kbg" {% if ys=="sy" %}style="background-color: #46abd0;"{% endif %} >首页</a></h3></li>
            {% for i in menu %}
            <li class="m"><h3>
                <a {% if cid==i._id %}style="background-color: #46abd0;"{% endif %} href="/kbg/list/{{ i._id }}">
                    {{ i.Name }}</a>
            </h3>
            </li>
            {% endfor %}
            <li class="gsp_block"></li>
            <!-- 滑动块 -->
        </ul>
    </div>
</div>