<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title>
    {% block title %}
    {% endblock %}
</title>
<head>
    {% block head %}
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/css.css" rel="stylesheet" type="text/css"/>
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/koala.min.1.5.js"></script>
        <script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
    {% endblock %}

</head>
<body onkeydown="if(event.keyCode==13){s_method();}">
{#头文件#}
{% block top %}
    {% include 'psd/master_page/header_page.html' %}
{% endblock %}
{#中间文件#}
<div class="content ft30">
    {% block middle %}
    {% endblock %}

</div>
{#包含底部文件#}
{% block footer %}
    {#    <div {% block footerclass %} {% endblock %}>#}
    {#        {% include 'master_page/footer_page.html' %}#}
    {#    </div>#}
{% endblock %}
<script>
            $(function () {
                get_hot();
            });
            //热词切换
            function get_hot() {
                $.ajaxSettings.async = false;
                $.getJSON("/get_hot/", function (result) {
                    $("#ul_hot").html(result.key);
                });
            }
            function js_method(akey) {
                var url = "http://www.hljss.com" + encodeURI("/s/" + akey + "/");
                window.open(url, '_blank');
            }
            function s_method(key) {
                var a = ""
                if (key == null) {
                    a = encodeURI($("#keyword").val());
                    if (a == "") {
                        return false;
                    }
                }
                else {
                    a = key;
                }
                if (a == "") {
                    return false;
                } else {
                    var url = encodeURI("/ss/" + a + "/");
                    window.open(url, '_blank')
                }

            }
        </script>
<script type="text/javascript">

		jQuery(".foucebox").slide({ mainCell:".bd ul", effect:"fold", autoPlay:true, delayTime:300, triggerTime:50, startFun:function(i){
				//下面代码控制鼠标状态滑动
				jQuery(".foucebox .hoverBg").animate({"margin-top":74*i},150);
			}
		});

</script>
<script type="text/javascript">
jQuery(".focusBox-zt").slide({ titCell:".hdzt ul", mainCell:".bdzt ul", effect:"top", autoPlay:true, autoPage:true, switchLoad:"_src" });
</script>
<script type="text/javascript">jQuery(".gsp2_notice").slide({ titCell:".tab2-hd li", mainCell:".tab2-bd",delayTime:0 });</script>
<script type="text/javascript">

	(function(){
			var ind = 2; //初始位置
			var nav= jQuery(".nav");
			var init = jQuery(".nav .m").eq(ind);
			var block = jQuery(".nav .block"); //滑块
			block.css({"left":init.position().left-3}); //初始化滑块位置
			nav.hover(function(){},function(){ block.animate({"left":init.position().left-3},100); }); //移出导航滑块返回

			jQuery(".nav").slide({
					type:"menu", //效果类型
					titCell:".m", // 鼠标触发对象
					targetCell:".sub", // 效果对象，必须被titCell包含
					delayTime:300, // 效果时间
					triggerTime:0, //鼠标延迟触发时间
					returnDefault:true,//on返回初始位置
					defaultIndex:ind,//初始位置
					startFun:function(i,c,s,tit){ //控制当前滑块位置
						block.animate({"left":tit.eq(i).position().left-3},100);
					}
				});
	})()

</script>
<script type="text/javascript">
	Qfast.add('widgets', { path: "/static/js/terminator2.2.min.js", type: "js", requires: ['fx'] });
	Qfast(false, 'widgets', function () {
		K.tabs({
			id: 'fsD1',   //焦点图包裹id
			conId: "D1pic1",  //** 大图域包裹id
			tabId:"D1fBt",
			tabTn:"a",
			conCn: '.fcon', //** 大图域配置class
			auto: 1,   //自动播放 1或0
			effect: 'fade',   //效果配置
			eType: 'click', //** 鼠标事件
			pageBt:true,//是否有按钮切换页码
			bns: ['.prev', '.next'],//** 前后按钮配置class
			interval: 3000  //** 停顿时间
		})
	})
</script>
<script>

var node = $('.dpt_list_n03');
tagClickEvent(node.find('.n03_pictit p'),node.find('.dpt_list_n04'),"n03_tit01");

function tagClickEvent(tag, closet, style){
	tag.click(function(){
			tag.removeClass(style);
			$(this).addClass(style);
			var index = tag.index($(this));
			closet.css('display','none');
			closet.eq(index).css('display','block');
	});
}
</script>
<script type="text/javascript">
jQuery(".onlyvision").slide({mainCell:".dpt_right_vision ul",autoPlay:true,effect:"topMarquee",vis:5,interTime:50});
</script>

</body>
</html>

