<div class="dpt_header">
	<div class="dpt_headnav">
    	{% include "master_page/top_page.html" %}
        {% include "master_page/search_page.html" %}
    </div>
    <div class="gsp_logo"><a href="/" class="gsp_logo_a01"><img src="/static/images/hlj-logo.png"/></a><a href="/psd" class="gsp_logo_a02"><img src="/static/images/dpt-logo02.png"/></a></div>


</div>
<div class="gsp_menu">
    <div class="gsp_navBar">
        <ul class="gsp_nav gsp_clearfix">
            <li class="m"><h3><a href="/psd"{% if ys=="sy" %} style="background-color: #46abd0;" {% endif %}>首页</a></h3></li>
            {% for i in menu %}
            <li class="m" style="padding-left:20px;">
                <h3>
                    <a {% if cid==i._id %} style="background-color:#46abd0;"{% endif %} href="{{ i["Href"] }}">{{ i.Name }}</a>
            </h3>
            </li>
            {% endfor %}
            <li class="gsp_block"></li>
            <!-- 滑动块 -->
        </ul>
    </div>
</div>