  <div class="gsp_con_r">

    <!----爆料台----->
    <div class="gsp_con_r_main">
      <div class="gsp_right_tlt">
        <p>今日热评</p>
      </div>
      <div class="gsp_con_r_main">
        <div class="gsp_right_deet" >
          <ul class="deet_pic">
              {% for i in jrrp_1 %}
        	<li class="deet_pic_tit"><a href="/detail/{{ i._id }}" target="_blank">{{ i.summary }}</a></li>
              {% endfor %}
                {% for i in jrrp_2 %}
        	<li class="deet_pic_img"><a href="/detail/{{ i._id }}" target="_blank"><img src="{{ i.guide_image }}" width="140" height="105" /></a></li>
            <li class="deet_pic_txt"><span>{{ i.summary }}</span></li>
                {% endfor %}
          </ul>
          <ul class="deet_list">
              {% for i in jrrp_5 %}
            <li><a href="/detail/{{ i._id }}" target="_blank">{{ i.summary }}</a></li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!----独家视界----->
    <div class="dpt_con_r_main ft30">
      <div class="dpt_right_tlt fb15">
        <p><a href="/psd/list/5768d034dcc88e3891c73699/">独家视界</a></p>
      </div>
      <div class="dpt_con_r_main onlyvision">
        <div class="dpt_right_vision" >
			<ul>
                {% for i in djsj %}
				<li>
                	<h1><a href="/detail/{{ i._id }}" target="_blank"><img src="{{ i.guide_image }}" width="100" height="75" /></a></h1>
    				<h2><a href="/detail/{{ i._id }}" target="_blank"><p>{{ i.title }}</p></a></h2>
                    <h3>{{ i.summary|truncate(30) }}</h3>
				</li>
                {% endfor %}
			</ul>
        </div>
      </div>
    </div>

    <!----当事者说----->
    <div class="dpt_con_r_main ft30">
      <div class="dpt_right_tlt">
        <p><a href="/psd/list/5768d059dcc88e3891c7369a/">当事者说</a></p>
      </div>
      <div class="dpt_con_r_main">
        <div class="dpt_right_party" >
			<ul>
                {% for i in dszs %}
				<li>
                	<h1><a href="/detail/{{ i._id }}" target="_blank"><img src="{{ i.guide_image }}" width="100" height="75" /></a></h1>
    				<h2><a href="/detail/{{ i._id }}" target="_blank"><p>{{ i.title }}</p></a></h2>
                    <h3>{{ i.summary|truncate(30) }}</h3>
				</li>
                {% endfor %}
			</ul>
        </div>
      </div>
    </div>


    <!----新闻排行----->
    <div class="gsp2_con_r_main ft30">
      <div class="gsp2_right_tlt">
        <p>新闻排行</p>
      </div>
      <div class="gsp2_con_r_main">
        <div class="gsp2_notice" style="margin:0 auto">
          <div class="tab2-hd">
            <ul class="tab2-nav">
              <li><a href="#" target="_blank">24小时</a></li>
              <li><a href="#" target="_blank">周榜</a></li>
              <li><a href="#" target="_blank">月榜</a></li>
            </ul>
          </div>
          <div class="tab2-bd">
            <div class="tab2-pal">
              <ul>
                  {% for i in ph_24 %}
                <li>
                    <p><img src="/static/images/no{{ loop.index }}.jpg" width="21" height="25" /></p>
                  <span><a href="/detail/{{ i._id }}" target="_blank">{{ i.summary }}</a></span> </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="tab2-pal" style=" display: none">
              <ul>
                  {% for i in ph_week %}
                <li>
                  <p><img src="/static/images/no{{ loop.index }}.jpg" width="21" height="25" /></p>
                  <span><a href="/detail/{{ i._id }}" target="_blank">{{ i.summary }}</a></span> </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="tab2-pal" style=" display: none">
              <ul>
                  {% for i in ph_month %}
                <li>
                  <p><img src="/static/images/no{{ loop.index }}.jpg" width="21" height="25" /></p>
                  <span><a href="/detail/{{ i._id }}" target="_blank">{{ i.summary }}</a></span> </li>
                  {% endfor %}
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>




    <!----新闻热搜----->
    <div class="gsp_con_r_main ft30">
      <div class="gsp_right_tlt">
        <p>新闻热搜</p>
      </div>
      <div class="gsp_con_r_main">
        <div class="gsp_seach_ci">
          <ul id="ul_hot">
          </ul>
        </div>
      </div>
    </div>

    <!----专题----->
    <div class="gsp_con_r_main ft30">
      <div class="gsp_right_tlt fbold" style="height:30px;">
        <p style="color:#205366;font-size:16px;">专题</p>
      </div>
      <div class="gsp_con_r_main">
        <div class="gsp_right_list" >
          <ul>
              {% for i in zt %}
            <li><a href="/detail/{{ i._id }}" target="_blank">{{ i.summary }}</a></li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!----合作媒体----->
	<div class="gsp_con_r_main ft30">
      <div class="gsp_right_tlt">
        <p>合作媒体</p>
      </div>
      <div class="gsp_con_r_main">
        <div class="gsp_right_co" >
            {% for i in hzmt %}
                        <tt><span><a href="{{ i.Url }}" target="_blank">{{ i.Name }}</a></span>
                            {% if loop.last %} {% else %}   <p>|</p>{% endif %}
                        </tt>
                    {% endfor %}
        </div>
      </div>
    </div>
  </div>

