<!---------right-------->
<div class="con_r">
    <!----新闻排行----->
    <div class="con_r_main ">
        <div class="right_tlt">
            <p>
                新闻排行
            </p>
        </div>
        <div class="con_r_main">
            <div class="notice" style="margin:0 auto">
                <div class="tab-hd">
                    <ul class="tab-nav">
                        <li>
                            <a>24小时</a>
                        </li>
                        <li>
                            <a> 周榜</a>
                        </li>
                        <li>
                            <a>月榜</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-bd">
                    <div class="tab-pal">
                        <ul>
                            {% for i in hours %}
                                <li>
                                    <p><img src="/static/images/no{{ loop.index }}.jpg" width="21" height="25"/></p>
                                    <span><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pal" style=" display: none">
                        <ul>
                            {% for i in zb %}
                                <li>
                                    <p><img src="/static/images/no{{ loop.index }}.jpg" width="21" height="25"/></p>
                                    <span><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pal" style=" display: none">
                        <ul>
                            {% for i in yb %}
                                <li>
                                    <p><img src="/static/images/no{{ loop.index }}.jpg" width="21" height="25"/></p>
                                    <span><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!----今日热评----->
    <div class="con_r_main ft30">
      <div class="right_tlt">
        <p>今日热评</p>
      </div>
      <div class="con_r_main">
        <div class="gsp_right_deet02" >
          <ul class="deet02_pic">
              {% for i in jrrp_2 %}
        	<li class="deet02_pic_tit"><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></li>
        	<li class="deet02_pic_img"><a href="/d/{{ i._id }}.html" target="_blank"><img src="{{ i.guide_image }}" width="100" height="75" /></a></li>
            <li class="deet02_pic_txt"><span>{{ i.summary }}</span></li>
              {% endfor %}
          </ul>
          <ul class="deet02_list">
              {% for i in jrrp_5 %}
            <li><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!----热门图集----->
    <div class="con_r_main ft30">
        <div class="right_tlt">
            <p><a href="/33.html" target="_blank">热门图集</a></p>
            {#        <span>photo</span>#}
        </div>
        <div class="con_r_main">
            <div class="right_list02" id="right_list02" style="margin-top:10px;">
                <ul>
                    {% for i in rmtj %}
                        <li><a href="/d/{{ i._id }}.html" {% if loop.index0==0 %}style="text-decoration: underline; color:#205366;" {% endif %} target="_blank">
                            <span>{{ i.title }}</span>
                            <img  {% if loop.index0==0 %}  style="display: block"{% else %}style="display: none" {% endif %}
                                                           src="{{ i.guide_image }}?w=220&h=110" width="220"
                                                           height="110"/></a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    <!----侃八卦----->
   {% include "generic_components/right_bar_kbg.html" %}
</div>
<script>

    $("#right_list02 ul li").mouseenter(function () {
        var ul = $(this).parent("ul");
        var li = ul.children("li");
        var index = $(this).index();
        $.each(li, function (i) {
            if (index == i) {
                              li.eq(i).find("a").css({"text-decoration": "underline","color":"#205366"});
                              li.eq(i).find("img").css("display","block");
            } else {
                               li.eq(i).find("a").css({"text-decoration": "none","color":"#333"});
                               li.eq(i).find("img").css("display","none");


            }
        })

    });

</script>