
  <!---------right-------->
  <div class="con_r">
    <!----新闻排行----->
    <div class="con_r_main ">
      <div class="right_tlt">
        <p><a href="#">新闻排行</a></p>
{#        <span>top news</span> #}
      </div>
      <div class="con_r_main">
        <div class="notice" style="margin:0 auto">
          <div class="tab-hd">
            <ul class="tab-nav">
              <li><a href="#" target="_blank">24小时</a></li>
              <li><a href="#" target="_blank">周榜</a></li>
              <li><a href="#" target="_blank">月榜</a></li>
            </ul>
          </div>
          <div class="tab-bd">
            <div class="tab-pal">
              <ul>
                {% for i in ph %}
                <li>
                  <p><img src="/static/images/no{{ loop.index }}.jpg" width="21" height="25" /></p>
                  <span><a href="/detail/{{ i._id }}" target="_blank">{{ i.title }}</a></span> </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="tab-pal" style=" display: none">
              <ul>
                 {% for i in ph %}
                <li>
                  <p><img src="/static/images/no{{ loop.index }}.jpg" width="21" height="25" /></p>
                  <span><a href="/detail/{{ i._id }}" target="_blank">{{ i.title }}</a></span> </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="tab-pal" style=" display: none">
              <ul>
                {% for i in ph %}
                <li>
                  <p><img src="/static/images/no{{ loop.index }}.jpg" width="21" height="25" /></p>
                  <span><a href="/detail/{{ i._id }}" target="_blank">{{ i.title }}</a></span> </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!----新闻热搜----->
    <div class="con_r_main ft30">
      <div class="right_tlt">
        <p><a href="#">新闻热搜</a></p>
{#        <span>News search</span> #}
      </div>
      <div class="con_r_main">
        <div class="seach_ci">
          <ul id="ul_hot">
          </ul>
        </div>
      </div>
    </div>

{#    <!----热门图集----->#}
{#    <div class="con_r_main ft30">#}
{#      <div class="right_tlt">#}
{#        <p><a href="#">热门图集</a>#}
{#        </p>#}
{#        <span>photo</span> #}
{#      </div>#}
{#      <div class="con_r_main">#}
{#          {% for i in rmtj %}#}
{#              {% if loop.index0==0 %}#}
{#        <div class="photo_list">#}
{#          <p><a href="/detail/{{ i._id }}" target="_blank"><img src="{{ i.guide_image }}?w=220&h=110" width="220" height="110" /></a></p>#}
{#          <h3 class="Txt_cu"><a href="/detail/{{ i._id }}" target="_blank">{{ i.title }}</a></h3>#}
{#        </div>#}
{#              {% endif %}#}
{#          {% endfor %}#}
{#        <div class="right_list" style="margin-top:12px;">#}
{#          <ul>#}
{#               {% for i in rmtj %}#}
{#              {% if loop.index0>0 %}#}
{#            <li><a href="/detail/{{ i._id }}" target="_blank">{{ i.title }}</a></li>#}
{#                {% endif %}#}
{#          {% endfor %}#}
{#          </ul>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
 <!----热门图集----->
    <div class="con_r_main ft30">
      <div class="right_tlt">
        <p><a href="#">热门图集</a></p>
        <span>photo</span> </div>
      <div class="con_r_main">
        <div class="photo_list">
          <p><a href="#"><img src="/static/images/pic02.jpg" width="220" height="110" /></a></p>
          <h3 class="Txt_cu"><a href="#">中纪委机关报刊文：电视问政领导被送听物后须观后效</a></h3>
        </div>
        <div class="right_list" style="margin-top:12px;">
          <ul>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!----侃八卦----->
    <div class="con_r_main ft30">
      <div class="right_tlt">
        <p><a href="/list/576500f0dcc88e31a7d2e4ba">侃八卦</a></p>
{#        <span>Gossip</span> #}
      </div>
      <div class="con_r_main">
        <div class="right_list" >
          <ul>
              {% for i in gbg %}
            <li><a href="/detail/{{ i._id }}" target="_blank">{{ i.title }}</a></li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>