  <div class="content ft30">
   <div class="flash">

        <div class="txMovie">
             <ul class="focus_pic" id="focus_pic_list">
                <li><a href="#"><img src="/static/images/1.jpg" width="650" height="370"/></a></li>
                <li><a href="#"><img src="/static/images/2.jpg" width="650" height="370" /></a></li>
                <li><a href="#"><img src="/static/images/3.jpg" width="650" height="370" /></a></li>
            </ul>
        
            <div class="focus_nav">
                <ul id="focus_smaillPic_list">
                    <li><a><img src="/static/images/1.jpg"><span class="cover"></span></a><b>▲</b></li>
                    <li><a><img src="/static/images/2.jpg"><span class="cover"></span></a><b>▲</b></li>
                    <li><a><img src="/static/images/3.jpg"><span class="cover"></span></a><b>▲</b></li>
                </ul>
            </div>
        
            <div class="focus_text">
                <ul id="focus_content_list">
                  <li class="fcs02-li02">       
                    <h1 class="ft20"><a href="#">习近平：全面建成小康社会任何地区任何民族都不能落下</a></h1>
                    <h2 class="ft20">中共中央总书记、国家主席、中央军委主席习近平近日在宁川考察时强调，到2020年全面建成小康社会，任何一个地区、任何一个民族都不能落下。</h2>
                    <h3>7小时前</h3>
                  </li>
                  <li class="fcs02-li02">       
                    <h1 class="ft20"><a href="#">图2：全面建成小康社会任何地区任何民族都不能落下</a></h1>
                    <h2 class="ft20">中共中央总书记、国家主席、中央军委主席习近平近日在宁川考察时强调，到2020年全面建成小康社会，任何一个地区、任何一个民族都不能落下。</h2>
                    <h3>7小时前</h3>
                  </li>
                  <li class="fcs02-li02">       
                    <h1 class="ft20"><a href="#">图3：全面建成小康社会任何地区任何民族都不能落下</a></h1>
                    <h2 class="ft20">中共中央总书记、国家主席、中央军委主席习近平近日在宁川考察时强调，到2020年全面建成小康社会，任何一个地区、任何一个民族都不能落下。</h2>
                    <h3>7小时前</h3>
                  </li>
                </ul>
            </div>
        </div>
</div>
  </div>