  <!----专题----->
  <div class="con_r_main fl30">
    <div class="zt_tlt">
      <p class="f16 Txt_cu"><a>专题</a></p>
{#      <span>special topic</span> #}
    </div>
    <div class="zt_flash ft15">
      <div class="focusBox-zt">
        <div class="bdzt">
          <ul>
              {% for i in zt_images %}
            <li><a  href="/detail/{{ i._id }}" target="_blank"><img _src="{{ i.guide_image }}?w=225&h=185"  src="{{ i.guide_image }}" /></a></li>
              {% endfor %}
          </ul>
        </div>
        <div class="hdzt">
          <ul>
          </ul>
        </div>
      </div>
    </div>
    <div class="right_list03" style="margin-top:6px;">
      <ul>
          {% for i in zt %}
        <li><a href="/detail/{{ i._id }}" target="_blank">{{ i.title }}</a></li>
          {% endfor %}
      </ul>
    </div>
  </div>