{% extends "wap_site/master_page/base.html" %}
{% block title %}黑龙江网_首页{% endblock %}
{% block head %}
    {{ super() }}
    <script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery.wookmark/2.1.2/wookmark.min.js"></script>
    <script src="//cdn.bootcss.com/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
{% endblock %}
{% block content %}
    <div class="header-wrap">
        <div class="md-nav">
            <a href="/">
                <div class="md-nav-logo"><img src="/static/wap_site/imgs/logo-title.png"></div>
            </a>
            <a href="/m/ss/">
                <div class="md-nav-searchBtn"><img src="/static/wap_site/imgs/btn.png"></div>
            </a>
        </div>

        <div class="menu">
            <div class="top_menu_more">
                <div class="list_shadow"></div>

            </div>
            <div class="top_menu">
                <div class="top_menu_list">
                    <a href="/m/index" class="btn cur" scroll-left="0">首页</a>
                    <a href="/m/list4" class="btn" scroll-left="0">看龙江</a>
                    <a href="/m/list5" class="btn" scroll-left="0">观时事</a>
                    <a href="/m/list6" class="btn" scroll-left="0">知天下</a>
                    <a href="/m/list7" class="btn" scroll-left="0">品深度</a>
                    <a href="/m/list8" class="btn" scroll-left="0">享悦读</a>
                    <a href="/m/list9" class="btn" scroll-left="0">侃八卦</a>
                </div>
            </div>
        </div>
    </div>
    <!--幻灯片-->
    <div class="banner1">
        <div id='mySwipe' style='margin: 0 auto' class='swipe'>
            <div class='swipe-wrap'>
                {% for i in lht %}
                    <div><a href="/m/d/{{ i._id }}.html"><img src="{{ i.guide_image }}" width="100%"/></a>
                        <div
                                class="mySwipeceng">
                            <div class="left">{{ i.title|truncate(21) }}</div>
                            <div class="right" style="height: 26px;">
                                {% if loop.index==1 %}
                                <span class="mySwipetabdiancurr"></span><span class="mySwipetabdian"></span><span class="mySwipetabdian"></span><span class="mySwipetabdian"></span><span class="mySwipetabdian"></span>
                                {% elif loop.index==2%}
                                <span class="mySwipetabdian"></span><span class="mySwipetabdiancurr"></span><span class="mySwipetabdian"></span><span class="mySwipetabdian"></span><span class="mySwipetabdian"></span>
                                    {% elif loop.index==3%}
                                <span class="mySwipetabdian"></span><span class="mySwipetabdian"></span><span class="mySwipetabdiancurr"></span><span class="mySwipetabdian"></span><span class="mySwipetabdian"></span>
                                    {% elif loop.index==4%}
                                <span class="mySwipetabdian"></span><span class="mySwipetabdian"></span><span class="mySwipetabdian"></span><span class="mySwipetabdiancurr"></span><span class="mySwipetabdian"></span>
                                {% else%}
                                <span class="mySwipetabdian"></span><span class="mySwipetabdian"></span><span class="mySwipetabdian"></span><span class="mySwipetabdian"></span><span class="mySwipetabdiancurr"></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!---------新闻列表------->
    <div class="news">
        <ul class="news-list" id="ul_content">
            {% for i in tjzd %}
                <li>
                    <a href="/m/d/{{ i.numid }}.html">
                        <!--     {% if i.newstype!=2 %}-->
                            <img src="{{ i.Guideimage |img_dom }}" {% if i.Guideimage=="" %}style="display: none" {% endif %}class="news-img">
                            <!--       {% endif %}-->
                        <div class="m_article_desc_l">{{ i["Published"]|time_filter }}</div>
                        <div class="news-text">
                            <h3>{{ i.Title }}</h3>
                        </div>
                        <!--     {% if i.newstype==2 %}
                            <p class="news-pic3">
                                {% for j in i.Images %}
                                    {% if loop.index<4 %}
                                        <img src="{{ j.url|img_dom }}">
                                    {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}-->
                    </a>
                </li>
            {% endfor %}

        </ul>
    </div>
    <input type="hidden" value="2" id="page"/>
    <script type="text/javascript" src="/static/js/swipe.min.js"></script>
    <script type="text/javascript">
        var elem = document.getElementById('mySwipe');
        window.mySwipe = Swipe(elem, {
            startSlide: 0,
            auto: 3000,
            continuous: true,
            disableScroll: true,
            stopPropagation: true,
            callback: function (index, element) {
            },
            transitionEnd: function (index, element) {
            }
        });
    </script>
    <script type="text/javascript">
        (function ($) {
            var wookmark,
                    container = '#ul_content',
                    $container = $(container),
                    $window = $(window),
                    $document = $(document);

            function onScroll() {
                // Check if we're within 100 pixels of the bottom edge of the broser window.
                var winHeight = window.innerHeight ? window.innerHeight : $(window).height(), // iphone fix
                        closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);
                if (closeToBottom) {
                    var page = $("#page").val();
                    if (parseInt(page) <= 20) {
                        $.ajaxSettings.async = false;
                        $.getJSON("/m_index/" + page+"/", function (result) {
                            var $firstTen = jQuery.parseHTML(result);
                            $container.append($firstTen);
                            $("#page").val(parseInt(page) + 1);
                            wookmark.initItems();
                            wookmark.layout(true, function () {
                                // Fade in items after layout
                                setTimeout(function () {
                                }, 300);
                            });
                        })
                    }
                }
            };
            // Capture scroll event.
            $window.on('scroll.wookmark', onScroll);

        })(jQuery);
    </script>
{% endblock %}
