{% extends "master_page/base_page.html" %}
{% block title %}关于我们-黑龙江网{% endblock %}
{% block head %}{{ super() }}<meta name="keywords" content="">
    <meta name="description" content="">{% endblock %}
{% block middle %}
<div class="content aboutus">
    <div class="end_tlt ft15 f14">您当前的位置 ：<a href="/" target="_blank">首页</a> > 关于我们 </div>
    <div class="company">
    	<img src="/static/images/since.png" class="ft20" />
        <h1>黑龙江网&nbsp;——&nbsp;龙江媒体融合第一平台</h1>
        <p>“黑龙江网”由黑龙江新媒体集团与黑龙江画报社共同建设，隶属于黑龙江出版集团，是黑龙江省省级重点新闻网站，黑龙江省媒体融合第一平台，也是黑龙江省影响力最大、传播力最强的新媒体传播平台，正致力打造基于传统纸媒、传统互联网、移动互联网和物联网共融发展的新媒体新闻信息服务平台。</p>
		<p>黑龙江新媒体集团是经中共黑龙江省委宣传部批准，由黑龙江出版集团出资成立的国有互联网文化企业，系全省第一家致力于新媒体建设的专业机构。新媒体集团坚持“以新闻资讯传播为引领，以互联网+技术服务为基础，以数字内容产业运营为核心”的发展理念，以建设最具影响的新媒体传播平台、最具实力的“互联网+”技术服务基地和最具规模的产业运营中心为战略方向，着力开辟龙江网上舆论新渠道，争当龙江网络文化新先锋。</p>
		<p>《黑龙江画报》创刊于1957年，是经国家新闻出版广电总局批准，由黑龙江省委宣传部直接领导，黑龙江省出版集团主管主办的时政月刊，是黑龙江省唯一以图片为主，以图文并茂的方式，报道龙江政治、经济、文化发展脉搏的新闻单位，被誉为“龙江政经视觉第一刊”。 2016年，经黑龙江出版集团党委委员会议研究决定，黑龙江画报社整体并入黑龙江新媒体集团。</p>
        <p>“黑龙江网”现已开通看龙江、观时事、知天下、品深度、享悦读、侃八卦等6个频道35个栏目，及时、准确、权威，全方位报道龙江，宣传龙江。“黑龙江网”集新闻、互动、社交、服务于一体，不同于传统的新闻发布网站，是具有思想性与前瞻性的新兴媒体平台。业务形态涵盖新闻网站、手机报、舆情服务、移动客户端、电子商务、大数据服务、网站代建代维、音视频直播录播等。“黑龙江网”采用业界领先的“中央厨房”全媒体新闻采编平台，可以快速实现“一次采集，多种生成，多元传播”，为PC端、手机及各移动终端以及微信、微博等多介质、多平台提供定制服务。</p>
		<p>作为黑龙江新媒集团新媒体运营平台，秉承“丰沃共享，聚合同赢”的发展理念，“黑龙江网”将以“守正出奇，深耕龙江”的姿态，携手各界有识之士与全体用户共享互联网时代的新闻与生活。
{#		<img src="/static/images/bg-aboutus.png" class="ft20" />#}
    </div>
</div>
{% endblock %}
{% block footer %}
    {% include 'master_page/footer_page.html' %}
{% endblock %}