{% extends "master_page/base_page.html" %}
{% block title %}{{ name }}-黑龙江网{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#loading").click(function () {
                var page = $("#page").val();
                $.getJSON('/fllist/{{ detail._id }}/' + page, function (result) {
                    $('#ul_content').append(result);
                    $("#page").val(parseInt(page) + 1);
                });
            });

        });

    </script>
{% endblock %}
{% block middle %}
  <!---------left-------->
  <div class="con_l">
      <div class="focus02" style="margin:0 auto">
		<ul>
            {% for i in lht %}
	      <li class="fcs02-li01"><a href="/detail/{{ i._id }}"><img src="{{ i.guide_image }}" width="650" height="370" /></a></li>
            {% endfor %}
        {% for i in lht %}
		  <li class="fcs02-li02">       
        	<h1 class="ft20"><a href="/detail/{{ i._id }}">{{ i.title }}</a></h1>
        	<h2 class="ft20">{{ i.summary }}</h2>
            <h3>{{ i.publish_time }}</h3>
          </li>
        {% endfor %}
		</ul>
      </div>
    
    <!---------w950新闻分类-------->
    
    <div class="list02_news ft10">
    <ul id="ul_content">
        {% for i in news_list %}
    <li>
    <p><a href="/detail/{{ i._id }}" target="_blank"><img src="{{ i.guide_image }}" width="261" height="171" /></a></p>
    <h2><a href="/detail/{{ i._id }}" target="_blank">{{ i.title }}</a></h2>
    <h5>{{ i.summary }}</h5>
    <h6>{{ i.publish_time }} <tt><a href="/list/{{ i.cid }}/">{{ i.cname }}</a></tt></h6>
    </li>
        {% endfor %}
    </ul>
    </div>
    <div class="list_news_jz" id="loading" style="margin-top:60px;">点击浏览更多文章</div>
  <input type="hidden" id="page" value="2">
    
  </div>
  
  <!---------right-------->
    {% include 'generic_components/right_side_bar.html' %}


{% endblock %}
{% block footer %}
        {% include 'master_page/footer_page.html' %}
{% endblock %}


<!---------20160721以下编写：wt------------->