{% extends "master_page/base_page.html" %}
{% block title %}首页-黑龙江网{% endblock %}
{% block head %}
    {{ super() }}
    <script src="http://cdn.bootcss.com/jquery.wookmark/2.1.2/wookmark.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
{% endblock %}
{% block middle %}
    <div class="content ft30">
        {% include "generic_components/list_rotation_graph.html" %}
        {#    {% include "generic_components/lht.html" %}#}
    </div>

    <!----专题----->
    {% include "generic_components/zt_right_bar.html" %}
    <!---------left-------->

    <!---------w620新闻-------->
    <div class="wrap ft30">
        <div class="box1">
            <div class="left_news ft30" style="height: 2150px">
                <ul id="uuuu" class="tiles-wrap animated">
                    {% for i in zd %}
                        <li>
                            <p><a href="/d/{{ i._id }}.html" target="_blank"><img src="{{ i.guide_image }}?w=261&h=171"
                                                                                  width="261" height="171"/></a></p>
                            <h3 class="Txt_cu"><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></h3>
                            <h4>{{ i.summary }}</h4>
          <span>
          <h5>{{ i.publish_time }}</h5>
          <h6><a href="{{ i.href }}" target="_blank">{{ i.cname }}</a></h6>
          </span>
                        </li>
                    {% endfor %}
                    {% for i in news_list %}
                        <li>
                            <p><a href="/d/{{ i._id }}.html" target="_blank"><img src="{{ i.guide_image }}?w=261&h=171"
                                                                                  width="261" height="171"/></a></p>
                            <h3 class="Txt_cu"><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></h3>
                            <h4>{{ i.summary }}</h4>
          <span>
          <h5>{{ i.publish_time }}</h5>
          <h6><a href="{{ i.href }}" target="_blank">{{ i.cname }}</a></h6>
          </span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!---------mid-------->

    <div id="right" class="con_i_r ft30">

        <div class="con_m">
            <!----要闻----->
            <div class="con_m_main">
                <div class="mid_tlt">
                    <p><a href="/29.html">龙江头条</a></p>
                    {#          <span>news</span> #}
                </div>
                <div class="mid_list">
                    <ul>
                        {% for i in yw %}
                            <li>
                                <h3 class="Txt_cu"><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></h3>
                                <h4>{{ i.summary }}</h4>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!----高层动态----->
            <div class="con_m_main ft30">
                <div class="mid_tlt">
                    <p><a href="/54.html">今日要闻</a></p>
                    {#          <span>SENIOR NEWS</span> #}
                </div>
                <div class="mid_list">
                    <ul>
                        {% for i in gcdt %}
                            <li>
                                <h3 class="Txt_cu"><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></h3>
                                <h4>{{ i.summary }}</h4>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!----快讯----->
            <div class="con_m_main ft30">
                <div class="mid_tlt">
                    <p><a href="/76.html">龙江看点</a></p>
                    {#          <span>news flash</span>#}
                </div>
                <div class="mid_list">
                    <ul>
                        {% for i in ljkd %}
                            <li>
                                <h3 class="Txt_cu"><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></h3>
                                <h4>{{ i.summary }}</h4>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

        <input type="hidden" value="2" id="page">
        <!---------right-------->
        {% include 'generic_components/index_right_side_bar.html' %}

        <div class="footer">
            <div class="footer_logo"><img src="/static/images/jtlogo.jpg" width="300" height="52"></div>
            <div class="footer_list">
                <ul class="f14">
                    <li>黑龙江新媒体集团 &amp; 黑龙江画报社&nbsp;&nbsp;&nbsp;版权所有</li>
                    <li>Copyright © 2016 www.chinahlj.cn ,All Rights Reserved</li>
                    <li><a href="#">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;黑ICP备
                        16016867号
                    </li>

                </ul>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        var winHeight = window.innerHeight ? window.innerHeight : $(window).height(), // iphone fix
                rightHeight = $("#right")[0].scrollHeight + 596;  // 页头高度 596
        (function ($) {
            var wookmark,
                    container = '#uuuu',
                    $container = $(container),
                    $window = $(window),
                    $document = $(document);

            imagesLoaded(container, function () {
                wookmark = new Wookmark(container, {
                    offset: 0, // Optional, the distance between grid items
                    itemWidth: 307 // Optional, the width of a grid item
                });
            });

            function onScroll() {
                fixedRight();

                // Check if we're within 100 pixels of the bottom edge of the broser window.
                var closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);
                if (closeToBottom) {
                    var page = $("#page").val();
                    $.ajaxSettings.async = false;
                    $.getJSON("/issift/" + page, function (data) {
                        {#                 items=data.datalist;#}
                        var $firstTen = jQuery.parseHTML(data.datalist);
                        $container.append($firstTen);
                        $("#page").val(parseInt(page) + 1);
                        wookmark.initItems();
                        wookmark.layout(true, function () {
                            // Fade in items after layout
                            setTimeout(function () {
                                {#                            $firstTen.css('opacity', 1);#}
                            }, 300);
                            // Get the first then items from the grid, clone them, and add them to the bottom of the grid
                            {#          var $items = $('li', $container),#}
                            {#              $firstTen = $items.slice(0, 10).clone().css('opacity', 0);#}
                            {#          $container.append($firstTen);#}
                            {##}
                            {#          wookmark.initItems();#}
                            {#          wookmark.layout(true, function () {#}
                            {#            // Fade in items after layout#}
                            {#            setTimeout(function() {#}
                            {#              $firstTen.css('opacity', 1);#}
                            {#            }, 300);#}
                        });
                    })


                }
            };

            // Capture scroll event.
            $window.on('scroll.wookmark', onScroll);
            $window.on('resize', fixedRight);
        })(jQuery);

        // 固定右侧列表位置
        function fixedRight() {
            if ($(window).scrollTop() + winHeight >= rightHeight) {
                $("#right").css({
                    "position": "fixed",
                    "bottom": "0",
                    "left": ($(window).width() > 1200 ? $(window).width() - 1200 : 0) / 2 + 620 + 30 + "px"
                }); // 左侧列宽 620 + 浮动边距 30
                //$("#right").css({"position":"fixed", "bottom":"0", "right":($(window).width() - 1200) / 2 + "px"});
            } else {
                $("#right").css({"position": "relative", "bottom": "auto", "left": "auto"});
            }
        }
    </script>
{% endblock %}
