
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ lingdao.Name }}领导活动报道集_{{ name }}_黑龙江网</title>
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
<link href="/static/css/css.css" rel="stylesheet" type="text/css" />
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/jquery.wookmark/2.1.2/wookmark.min.js"></script>
<script src="http://cdn.bootcss.com/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?1773379f6367cc81123e8e5c1fa532dc";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>

<body>
<div class="ldr_header">
    {% include "master_page/top_page.html" %}
</div>
<div class="ldr_menu">
    <ul>
        <li class="ldr_menu_l" style="float:left;">{{ lingdao.Name }}活动报道集</li>
        <li class="ldr_menu_r" style="float:right;"><a href="/ld" target="_blank">领导活动报道集</a></li>
    </ul>
</div>
<div class="content ft30" style="min-height:485px">
    <div class="ldr_con_m">
        <div class="ldr_m_o">
            <div class="ldr-m-title"><p>{{ name }}</p></div>
            <div class="ldr-m-box">
                <ul id="ul_content">
                    {% for i in news_list %}
                    <li><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a> <span>{{ i.publish_time }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>
  <input type="hidden" id="page" value="2">
{#{% include "master_page/footer_page.html"  %}#}
 <script type="text/javascript">
        (function ($) {
            var wookmark,
                    container = '#ul_content',
                    $container = $(container),
                    $window = $(window),
                    $document = $(document);
            imagesLoaded(container, function () {
                wookmark = new Wookmark(container, {
                    offset: 0, // Optional, the distance between grid items
                    itemWidth:1200 // Optional, the width of a grid item
                });
            });

            function onScroll() {
                // Check if we're within 100 pixels of the bottom edge of the broser window.
                 var winHeight = window.innerHeight ? window.innerHeight : $(window).height(), // iphone fix
                    closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);
                if (closeToBottom) {
                    var page = $("#page").val();
                    if(parseInt(page)<=20) {
                        $.ajaxSettings.async = false;
                        $.getJSON("/ldj/{{ lingdao.numid }}/" + page, function (result) {
{#                            alert(result);#}
                            var $firstTen = jQuery.parseHTML(result);
                            $container.append($firstTen);
                            $("#page").val(parseInt(page) + 1);
                            wookmark.initItems();
                            wookmark.layout(true, function () {
                                // Fade in items after layout
                                setTimeout(function () {
                                    {#                            $firstTen.css('opacity', 1);#}
                                }, 300);

                            });
                        })
                    }

                }
            };

            // Capture scroll event.
            $window.on('scroll.wookmark', onScroll);

        })(jQuery);


    </script>
</body>
</html>

<!---------20160809以下编写：wt------------->