
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{{ lingdao.word }}">
<meta name="description" content="{{ lingdao.title }}">
<title>{{ lingdao.Name }}领导活动报道集_{{ name }}_黑龙江网</title>
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
<link href="/static/css/css.css" rel="stylesheet" type="text/css" />
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?1773379f6367cc81123e8e5c1fa532dc";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<div class="ldr_header">
    {% include "master_page/top_page.html" %}
</div>
<div class="ldr_menu">
    <ul>
        <li class="ldr_menu_l" style="float:left;">{{ lingdao.Name }}活动报道集</li>
        <li class="ldr_menu_r" style="float:right;"><a href="/ld" target="_blank">领导活动报道集</a></li>
    </ul>
</div>
<div class="content ft30">
    <!--left-->
    <div class="ldr_con_l">
		<div class="ldr-l-box">{% for i in jianli %}
			<a href="/d/{{ i._id }}.html" target="_blank" class="leader-pic"><img src="{{ i.guide_image }}?w=207&h=276" width="207" height="276" /></a>
			<a href="/d/{{ i._id }}.html" target="_blank" class="leader-pic">{{ lingdao.Name }}同志简历</a>
            <p>{{ i.summary|safe|truncate(80) }}<a href="/d/{{ i._id }}.html" target="_blank">[详细]</a></p>{% endfor %}
		</div>
        <div class="ldr-l-o">
            <div class="ldr-l-box02">
                <ul>{% for i in image_four %}
                    <li><a href="/d/{{ i._id }}.html" target="_blank"><img src="{{ i.guide_image }}?w=169&h=110" width="169" height="110" /></a><p><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></p></li>{% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!--right-->
    <div class="ldr_con_r">
        <div class="ldr_r_o">
            <div class="ldr-r-title"><p>讲话</p><a href="/ld/{{ lingdao.numid }}_1_1.html" target="_blank">更多</a></div>
            <div class="ldr-r-box">
                <ul>{% for i in jianghua %}
                    <li><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a> <span>{{ i.publish_time }}</span></li>{% endfor %}
                </ul>
            </div>
        </div>
        <div class="ldr_r_o ft80">
            <div class="ldr-r-title"><p>活动</p><a href="/ld/{{ lingdao.numid }}_2_1.html" target="_blank">更多</a></div>
            <div class="ldr-r-box">
                <ul>{% for i in huodong %}
                    <li><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a> <span>{{ i.publish_time }}</span></li>{% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% include "master_page/footer_page.html"  %}
</body>
</html>
<!--20160809以下编写：wt-->