
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>龙网-品深度</title>
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
<link href="/static/css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="ldr_header">
    {% include "master_page/top_page.html" %}
</div>

<div class="ldr_menu">
    <ul>
        <li class="ldr_menu_l" style="float:left;">{{ lingdao.Name }}活动报道集</li>
        <li class="ldr_menu_r" style="float:right;"><a href="#">领导活动报道集</a></li>
    </ul>
</div>
<div class="content ft30">
    <!---------left-------->
    <div class="ldr_con_l">
		<div class="ldr-l-box">
            {% for i in jianli %}
			<a href="#" class="leader-pic"><img src="{{ i.guide_image }}?w=207&h=276" width="207" height="276" /></a>
			<a href="#" class="leader-pic">{{ lingdao.Name }}同志简历</a>
            <p>{{ i.content|safe|truncate(75) }}<a href="#">[详细]</a></p>
            {% endfor %}
		</div>
        <div class="ldr-l-o">
            <div class="ldr-l-box02">
                <ul>
                    {% for i in image_four %}
                    <li><a href="/detail/{{ i._id }}" target="_blank"><img src="{{ i.guide_image }}?w=169&h=110" width="169" height="110" /></a><p><a href="/detail/{{ i._id }}" target="_blank">{{ i.title }}</a></p></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    <!---------right-------->
    <div class="ldr_con_r">
        <div class="ldr_r_o">
            <div class="ldr-r-title"><p>讲话</p><a href="#">更多</a></div>
            <div class="ldr-r-box">
                <ul>
                    {% for i in jianghua %}
                    <li><a href="/detail/{{ i._id }}" target="_blank">{{ i.title }}</a> <span>{{ i.publish_time }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="ldr_r_o ft80">
            <div class="ldr-r-title"><p>活动</p><a href="#">更多</a></div>
            <div class="ldr-r-box">
                <ul>
                    {% for i in huodong %}
                    <li><a href="/detail/{{ i._id }}" target="_blank">{{ i.title }}</a> <span>{{ i.publish_time }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer_fy">
<div class="footer_nav">
<div class="footer_menu">
<a href="#">关于我们</a>
<a href="#">联系我们</a>
</div>
</div>
<div class="footer_cplogo">
<span>黑龙江新媒体集团   &  黑龙江画报社   版权所有<br />
Copyright © 2016 www. zuoyouxinwen. com , All Rights Reserved
</span>
</div>
<div class="footer_ba f14">ICP备案/许可证编号：黑ICP备 16016867号</div>
</div>

</body>
</html>

<!---------20160809以下编写：wt------------->