
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="render" content="webkit">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ detail.Title }}-黑龙江网</title>
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
<link href="/static/css/css.css" rel="stylesheet" type="text/css" />
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.noconflict.min.js"></script>
</head>

<body>
<div class="vrty_header" style="height:45px; line-height:45px;">
    <div class="vrty_headnav_o" style="height:45px; line-height:45px;">
        <ul class="vrty_headnav_l" style="height:45px; line-height:45px;">
            <li><img src="/static/images/picview-logo.png" class="picview-logo" /></li>
            <li><span><a href="/">黑龙江网首页</a></span> <p>|</p></li>
            <li><span><a href="/klj">看龙江</a></span> <p>|</p></li>
            <li><span><a href="/fllist/5/">观时事</a></span> <p>|</p></li>
            <li><span><a href="/fllist/6/">知天下</a></span> <p>|</p></li>
            <li><span><a href="/psd">品深度</a></span> <p>|</p></li>
            <li><span><a href="/fllist/8/">享悦读</a></span> <p>|</p></li>
            <li><span><a href="/kbg">侃八卦</a></span>
{#                <p>|</p>#}
            </li>
{#            <li><span><a href="#">晓百态</a></span></li>       #}
        </ul>
    </div>
</div>

<div class="content05 ft30">
<div id="wrapper">
	<!--滚动看图-->
	<div id="picSlideWrap" class="clearfix ft20">
		<h3 class="titleh3">{{ detail.Title }}</h3>
		<h4 class="titleh4">发布时间：{{ detail.Published }}  |　来源:{{ detail.Source }}</h4>
	
		<div class="imgnav" id="imgnav">
			<div id="img">
                {% for i in detail["Images"] %}
				<img src="{{ format_http_url(i.url) }}?h=570" />
                {% endfor %}

				<div id="front" title="上一张"><a href="javaScript:void(0)" class="pngFix"></a></div>
				<div id="next" title="下一张"><a href="javaScript:void(0)" class="pngFix"></a></div>
			</div>
		    {% for i in detail["Images"] %}
			<div id="content_{{ loop.index0 }}" class="content021">
				<p>{{ i.describe }} </p>
			</div>
		   {% endfor %}
			<div id="cbtn">
				<i class="picSildeLeft"><img src="/static/images/picSlideLeft.gif"/></i> 
				<i class="picSildeRight"><img src="/static/images/picSlideRight.gif"/></i> 
				<div id="cSlideUl">
					<ul>
                        {% for i in detail["Images"] %}
						<li><img src="{{ format_http_url(i.url) }}?w=116&h=86"/><tt></tt></li>
                        {% endfor %}
					</ul>
				</div>
			</div>         
		
		</div>
	</div><!--end滚动看图-->
</div> 
</div>

<div class="area grayBg ft30">
  <div class="reviewBox" id="galleryBox" style="width: 1153.5px;">
    <div class="titleBar clearfix">
         <h2 class="left">往期<span>回顾</span></h2>
{#        <a href="#" target="_blank" class="morelink right">查看更多</a>#}
    </div>
    <div style="overflow:hidden;width:960px; margin:0 auto; height:210px; position:relative">
        <ul class="reviewList clearfix" id="gallery" style="width: 2880px; left: 0px;">
            {% for i in wqhg %}
           <li><a href="/d/{{ i.numid }}.html" target="_blank"><img src="{{format_http_url( i.Guideimage )  }}?w=200&h=147" width="200" height="147" alt=""><p>{{ i.Title }}</p></a><b>{{ loop.index }}</b></li>
            {% endfor %}
        </ul>
    </div>
    <div id="fn_focus_prev_next"> <a href="#" hidefocus="true" target="_self" class="prev">&lt;</a> <a href="#" hidefocus="true" target="_self" class="next">&gt;</a> </div>
  </div>
</div>
<script src="/static/js/comicStrip.835556.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){                          
    $("div[id^='content_']").hide();
    $("#content_0").show();
	var index=0;
	var length=$("#img img").length;
	var i=1;

	//关键函数：通过控制i ，来显示图片
	function showImg(i){
		$("#img img").eq(i).stop(true,true).fadeIn(800).siblings("img").hide();
		$("#cbtn li").eq(i).addClass("hov").siblings().removeClass("hov");
        $("div[id^='content_']").hide();
        $("#content_" + i).show();
	}

	function slideNext(){
		if(index >= 0 && index < length-1) {
			++index;
			showImg(index);
		}else{
			if(confirm("已经是最后一张,点击确定重新浏览！")){
				showImg(0);
				index=0;
				aniPx=(length-5)*142+'px'; //所有图片数 - 可见图片数 * 每张的距离 = 最后一张滚动到第一张的距离
				$("#cSlideUl ul").animate({ "left": "+="+aniPx },200);
				i=1;
			}
			return false;
		}
		if(i<0 || i>length-5){
			return false;
		}						  
		$("#cSlideUl ul").animate({ "left": "-=142px" },200)
		i++;
	}

	function slideFront(){
		if(index >= 1 ) {
			--index;
			showImg(index);
		}
		if(i<2 || i>length+5){
			return false;
		}
		$("#cSlideUl ul").animate({ "left": "+=142px" },200)
		i--;
	}
		
	$("#img img").eq(0).show();
	$("#cbtn li").eq(0).addClass("hov");
	
	$("#cbtn tt").each(function(e){
		var str=(e+1)+"/"+length;
		$(this).html(str)
	})

	$(".picSildeRight,#next").click(function(){
		slideNext();
	});
	
	$(".picSildeLeft,#front").click(function(){
		slideFront();
	});
	
	$("#cbtn li").click(function(){
		index  =  $("#cbtn li").index(this);
		showImg(index);
	});	
	
	$("#next,#front").hover(function(){
		$(this).children("a").fadeIn();
	},function(){
		$(this).children("a").fadeOut();
	});
	
});
</script>

</body>
</html>

<!---------20160725以下编写：wt------------->