{% extends "/kbg/master_page/base_page.html" %}
{% block title %}龙网{% endblock %}
{% block middle %}
  <!---------left-------->
  <!---------轮播图-------->
  <div class="gsp_con_l">
    <div class="gsp_flash">
      <div class="gsp_foucebox" style="margin:0 auto">
          <div id="fsD1" class="focus">  
              <div id="D1pic1" class="fPic">  
                  <div class="fcon" style="display: none;">
                      <a target="_blank" href="#"><img src="/static/images/5.jpg"  style="opacity: 1; "></a>
                      <span class="shadow"><a target="_blank" href="#">红三代叶明子太庙办盛典 白色羽毛装高贵动人</a></span>
                  </div>                 
                  <div class="fcon" style="display: none;">
                      <a target="_blank" href="#"><img src="/static/images/2.jpg" style="opacity: 1; "></a>
                      <span class="shadow"><a target="_blank" href="#">佟大为登封面表情搞怪 成熟男人也是天真男孩</a></span>
                  </div>
                  
                  <div class="fcon" style="display: none;">
                      <a target="_blank" href="#"><img src="/static/images/0.4.jpg" style="opacity: 1; "></a>
                      <span class="shadow"><a target="_blank" href="#">21岁出柜超模巴厘自曝搞笑全裸照</a></span>
                  </div>
                  
                  <div class="fcon" style="display: none;">
                      <a target="_blank" href="#"><img src="/static/images/3.jpg"style="opacity: 1; "></a>
                      <span class="shadow"><a target="_blank" href="#">金喜善出道21年 皮肤白皙越长越“嫩”！</a></span>
                  </div>    
              </div>
              <div class="fbg">  
              <div class="D1fBt" id="D1fBt">  
                  <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>1</i></a>  
                  <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>2</i></a>  
                  <a href="javascript:void(0)" hidefocus="true" target="_self" class="current"><i>3</i></a>  
                  <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>4</i></a>  
              </div>  
              </div>  
              <span class="prev"></span>   
              <span class="next"></span>    
          </div>
      </div>
    </div>
    
    <!---------w950新闻分类-------->
    <div class="gsp_list_news">
        <ul class="gsp_list_n01">    
            <li>
                <p><img src="/static/images/pic03.jpg" width="165" height="100" /></p>
                <h2><a href="#">王宪魁率团访问新西兰澳大利亚韩国 拓展合作领域促进经贸转型升级</a></h2>
                <h5 class="Jushang"><tt><a href="#">[粉丝追星]TFBOYS王源中考遭私生饭尾随 粉丝校门口苦等</a></tt> <tt>|</tt> <tt><a href="#">花58万跟偶像接吻后，他们为追星去留学了</a></tt></h5>
                <h5><tt><a href="#">朱军水墨画拍出130万 专家：受到明星效应影响</a></tt> </h5>
            </li>
            <li>
                <p><img src="/static/images/pic02.jpg" width="165" height="100" /></p>
                <h2><a href="#">技术性分析停掉《康熙来了》，小S和蔡康永究竟有没有后悔过？</a></h2>
                <h5 class="Jushang"><tt><a href="#">蔡康永后悔停掉《康熙》：小S现在的表现惊心动魄 </a></tt></h5>
                <h5><tt><a href="#">小S称蔡康永像“王子”：他让我什么都不用怕</a></tt> </h5>
            </li>
            <li>
                <p><img src="/static/images/pic01.png" width="165" height="100" /></p>
                <h2><a href="#">杨幂两穿外套搭小短裙秀美腿 现身机场变蒙面侠</a></h2>
                <h5 class="Jushang"><tt><a href="#">[粉丝追星]TFBOYS王源中考遭私生饭尾随 粉丝校门口苦等</a></tt> <tt>|</tt> <tt><a href="#">花58万跟偶像接吻后，他们为追星去留学了</a></tt></h5>
                <h5><tt><a href="#">朱军水墨画拍出130万 专家：受到明星效应影响</a></tt> </h5>
            </li>
            <li>
                <p><img src="/static/images/0.1.jpg" width="165" height="100" /></p>
                <h2><a href="#">王宪魁率团访问新西兰澳大利亚韩国 拓展合作领域促进经贸转型升级</a></h2>
                <h5 class="Jushang"><tt><a href="#">[粉丝追星]TFBOYS王源中考遭私生饭尾随 粉丝校门口苦等</a></tt> <tt>|</tt> <tt><a href="#">花58万跟偶像接吻后，他们为追星去留学了</a></tt></h5>
                <h5><tt><a href="#">朱军水墨画拍出130万 专家：受到明星效应影响</a></tt> </h5>
            </li>
        </ul>    
    
		<ul class="gsp_list_n02">
			<li class="n02_tit">
				<h2><a href="#">今日要闻</a></h2>
				<h3>2016-6-15</h3>
			</li>
            <li class="n02_lst">
            	<h3><a href="#">陈赫祝福前妻新恋情 许婧外籍新欢遭起底疑吸大麻</a></h3>
            	<h3 class="fl48"><a href="#">陈赫祝福前妻新恋情 许婧外籍新欢遭起底疑吸许婧外籍新欢遭起底疑吸大麻大麻</a></h3>            	
            	<h3><a href="#">孙俪否认妹妹孙艳母亲是第三者 两家感情非常要好</a></h3>
            	<h3 class="fl48"><a href="#">孙俪否认妹妹孙艳母亲是第三者 两家感情非常要好</a></h3>            
            	<h3><a href="#">女神级待遇！范冰冰出席恒大晚会 体态丰腴众人拥簇</a></h3>
            	<h3 class="fl48"><a href="#">女神级待遇！范冰冰出席恒大晚会 体态丰腴众人拥簇</a></h3>            
            	<h3><a href="#">葛荟婕疑似与同性摄影师相恋 早餐晒照一模一样</a></h3>
            	<h3 class="fl48"><a href="#">葛荟婕疑似与同性摄影师相恋 早餐晒照一模一样</a></h3>            
            	<h3><a href="#">作风随妈！麦当娜19岁女儿真空出街 穿背心不惧露点</a></h3>
            	<h3 class="fl48"><a href="#">作风随妈！麦当娜19岁女儿真空出街 穿背心不惧露点</a></h3>            
            </li>
		</ul> 
        
        <ul class="gsp_list_n03">
        	<div class="n03_pictit">
                 <p class="n03_tit01" >明星</p>
                 <p class="n03_tit02" >电影</p>
                 <p class="n03_tit02" >电视</p>
                 <p class="n03_tit02" >音乐</p>
            </div>
            <ul class="n03_picblock" style="display:block;">
                <li class="n03_large"><a href="#" target="_blank"><img src="/static/images/6.jpg" /><p>孙俪竞和妹妹合演过《甄嬛传》！</p></a></li>
                <li class="n03_small"><a href="#" target="_blank"><img src="/static/images/7.jpg" /><p>哈尔滨中央大街附近远华广场发生华广场发生火情</p></a></li>
                <li class="n03_small"><a href="#" target="_blank"><img src="/static/images/0.4.jpg" /><p>哈尔滨中央大街附近远华广场发华广场发生生火情</p></a></li>
                <li class="n03_small"><a href="#" target="_blank"><img src="/static/images/0.2.jpg" /><p>哈尔滨中央大街附近远华广场发生火情</p></a></li>
                <li class="n03_small"><a href="#" target="_blank"><img src="/static/images/0.5.jpg" /><p>哈尔滨中央大街附近远华广场发生火情</p></a></li>
            </ul>
            <ul class="n03_picblock" style="display:none;">
                <li class="n03_large"><a href="#" target="_blank"><img src="/static/images/0.5.jpg" /><p>孙俪竞和妹妹合演过《甄嬛传》！</p></a></li>
                <div class="film_con_r_main fl20">
                  <div class="film_right_tlt">
                    <p><a href="#">热点影评</a></p>
                  </div>
                  <div class="film_con_r_main">
                    <div class="film_right_list" >
                      <ul>
                        <li><a href="#">大S为汪小菲庆生：谢谢你对家的付出</a></li>
                        <li><a href="#">TFBOYS王源中考遭私生饭尾随 粉丝校门口苦等</a></li>
                        <li><a href="#">朱军水墨画拍出130万 专家：受到明星效应影响</a></li>
                        <li><a href="#">许婧外籍新欢遭起底疑吸大麻</a></li>
                        <li><a href="#">麦当娜19岁女儿真空出街</a></li>
                        <li><a href="#">朱军水墨画拍出130万 专家：受到明星效应影响</a></li>
                        <li><a href="#">许婧外籍新欢遭起底疑吸大麻</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="film_con_r_main fl20">
                  <div class="film_right_tlt">
                    <p><a href="#">本地影讯</a></p>
                  </div>
                  <div class="film_con_r_main">
                    <div class="film_right_list" >
                      <ul>
                        <li><a href="#">大S为汪小菲庆生：谢谢你对家的付出</a></li>
                        <li><a href="#">TFBOYS王源中考遭私生饭尾随 粉丝校门口苦等</a></li>
                        <li><a href="#">朱军水墨画拍出130万 专家：受到明星效应影响</a></li>
                        <li><a href="#">许婧外籍新欢遭起底疑吸大麻</a></li>
                        <li><a href="#">麦当娜19岁女儿真空出街</a></li>
                        <li><a href="#">朱军水墨画拍出130万 专家：受到明星效应影响</a></li>
                        <li><a href="#">许婧外籍新欢遭起底疑吸大麻</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
            </ul>
            <ul class="n03_picblock" style="display:none;">
                <li class="n03_large"><a href="#" target="_blank"><img src="/static/images/0.2.jpg" /><p>孙俪竞和妹妹合演过《甄嬛传》！</p></a></li>
                <li class="n03_small"><a href="#" target="_blank"><img src="/static/images/7.jpg" /><p>哈尔滨中央大街附近远华广场发生华广场发生火情</p></a></li>
                <li class="n03_small"><a href="#" target="_blank"><img src="/static/images/6.jpg" /><p>哈尔滨中央大街附近远华广场发华广场发生生火情</p></a></li>
                <li class="n03_small"><a href="#" target="_blank"><img src="/static/images/7.jpg" /><p>哈尔滨中央大街附近远华广场发生火情</p></a></li>
                <li class="n03_small"><a href="#" target="_blank"><img src="/static/images/6.jpg" /><p>哈尔滨中央大街附近远华广场发生火情</p></a></li>
            </ul>
            <ul class="n03_picblock" style="display:none;">
                <li class="n03_large"><a href="#" target="_blank"><img src="/static/images/4.jpg" /><p>孙俪竞和妹妹合演过《甄嬛传》！</p></a></li>
                <li class="n03_small"><a href="#" target="_blank"><img src="/static/images/7.jpg" /><p>哈尔滨中央大街附近远华广场发生华广场发生火情</p></a></li>
                <li class="n03_small"><a href="#" target="_blank"><img src="/static/images/6.jpg" /><p>哈尔滨中央大街附近远华广场发华广场发生生火情</p></a></li>
                <li class="n03_small"><a href="#" target="_blank"><img src="/static/images/7.jpg" /><p>哈尔滨中央大街附近远华广场发生火情</p></a></li>
                <li class="n03_small"><a href="#" target="_blank"><img src="/static/images/6.jpg" /><p>哈尔滨中央大街附近远华广场发生火情</p></a></li>
            </ul>
        </ul><!--lv1_h360-->
              
        <ul class="gsp_list_n04">    
            <li>
                <p><img src="/static/images/0.4.jpg" width="260" height="170" /></p>
                <h2><a href="#">王宪魁率团访问新西兰澳大利亚韩国 拓展合作领域促进经贸转型升级</a></h2>
                <h5>滨海新区发布了41所具有招生资格的民办幼儿园名单(不含开发区)，并公布电话66897218接受社会监督。滨海新区发布了41所具有招生资格的民办幼儿园名单(不含开发区)，并公布电话66897218接受社会监督。</h5>
                <h6>06-14&nbsp;43分钟前</h6>
            </li>
            <li>
                <p><img src="/static/images/pic01.png" width="260" height="170" /></p>
                <h2><a href="#">王宪魁率团访问新西兰澳大利亚</a></h2>
                <h5>滨海新区发布了41所具有招生资格的民办幼儿园名单(不含开发区)，并公布电话66897218接受社会监督。滨海新区发布了41所具有招生资格的民办幼儿园名单(不含开发区)，并公布电话66897218接受社会监督。</h5>
                <h6>06-14&nbsp;43分钟前</h6>
            </li>
            <li>
                <p><img src="/static/images/pic03.jpg" width="260" height="170" /></p>
                <h2><a href="#">王宪魁率团访问新西兰澳大利亚韩国 拓展合作领域促进经贸转型升级</a></h2>
                <h5>滨海新区发布了41所具有招生资格的民办幼儿园名单(不含开发区)，并公布电话66897218接受社会监督。滨海新区发布了41所具有招生资格的民办幼儿园名单(不含开发区)，并公布电话66897218接受社会监督。</h5>
                <h6>06-14&nbsp;43分钟前</h6>
            </li>
            <li>
                <p><img src="/static/images/pic02.jpg" width="260" height="170" /></p>
                <h2><a href="#">王宪魁率团访问新西兰澳大利亚韩国 拓展合作领域促进经贸转型升级</a></h2>
                <h5>滨海新区发布了41所具有招生资格的民办幼儿园名单(不含开发区)，并公布电话66897218接受社会监督。滨海新区发布了41所具有招生资格的民办幼儿园名单(不含开发区)，并公布电话66897218接受社会监督。</h5>
                <h6>06-14&nbsp;43分钟前</h6>
            </li>
            <li>
                <p><img src="/static/images/8.jpg" width="260" height="170" /></p>
                <h2><a href="#">王宪魁率团访问新西兰澳大利亚韩国 拓展合作领域促进经贸转型升级</a></h2>
                <h5>滨海新区发布了41所具有招生资格的民办幼儿园名单(不含开发区)，并公布电话66897218接受社会监督。滨海新区发布了41所具有招生资格的民办幼儿园名单(不含开发区)，并公布电话66897218接受社会监督。</h5>
                <h6>06-14&nbsp;43分钟前</h6>
            </li>

        </ul>
    </div>
    <div class="gsp_list_news_jz">点击浏览更多文章</div>
  </div>
  
  <!---------right-------->
  <div class="gsp_con_r"> 
    

      <!----新闻排行----->
    <div class="gsp2_con_r_main">
      <div class="gsp2_right_tlt">
        <p><a href="#">新闻排行</a></p>
      </div>
      <div class="gsp2_con_r_main">
        <div class="gsp2_notice" style="margin:0 auto">
          <div class="tab2-hd">
            <ul class="tab2-nav">
              <li><a href="#" target="_blank">24小时</a></li>
              <li><a href="#" target="_blank">周榜</a></li>
              <li><a href="#" target="_blank">月榜</a></li>
            </ul>
          </div>
          <div class="tab2-bd">
            <div class="tab2-pal">
              <ul>
                <li>
                  <p><img src="/static/images/no1.jpg" width="21" height="25" /></p>
                  <span><a href="#">24小时</a></span> </li>
                <li>
                  <p><img src="/static/images/no2.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
                <li>
                  <p><img src="/static/images/no3.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
                <li>
                  <p><img src="/static/images/no4.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
                <li>
                  <p><img src="/static/images/no6.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
                <li>
                  <p><img src="/static/images/no6.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
              </ul>
            </div>
            <div class="tab2-pal" style=" display: none">
              <ul>
                <li>
                  <p><img src="/static/images/no1.jpg" width="21" height="25" /></p>
                  <span><a href="#">周榜</a></span> </li>
                <li>
                  <p><img src="/static/images/no2.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
                <li>
                  <p><img src="/static/images/no3.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
                <li>
                  <p><img src="/static/images/no4.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
                <li>
                  <p><img src="/static/images/no6.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
                <li>
                  <p><img src="/static/images/no6.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
              </ul>
            </div>
            <div class="tab2-pal" style=" display: none">
              <ul>
                <li>
                  <p><img src="/static/images/no1.jpg" width="21" height="25" /></p>
                  <span><a href="#">月榜</a></span> </li>
                <li>
                  <p><img src="/static/images/no2.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
                <li>
                  <p><img src="/static/images/no3.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
                <li>
                  <p><img src="/static/images/no4.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
                <li>
                  <p><img src="/static/images/no6.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
                <li>
                  <p><img src="/static/images/no6.jpg" width="21" height="25" /></p>
                  <span><a href="#">我为什么要把房卖了！租房住？</a></span> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!----爆料台----->
    <div class="gsp_con_r_main ft30">
      <div class="gsp_right_tlt">
        <p style="text-align:left;"><a href="#"><img src="/static/images/gsp-deet.png" width="98" height="34"/></a></p>
      </div>
      <div class="gsp_con_r_main">
        <div class="gsp_right_deet" >
          <ul class="deet_pic">
        	<li class="deet_pic_tit"><a href="#">冬季养生泄而不乃大忌冬季养生泄而不乃大忌冬季养生泄而不乃大忌</a></li>
        	<li class="deet_pic_img"><a href="#"><img src="/static/images/8.jpg" width="140" height="105" /></a></li>
            <li class="deet_pic_txt"><span>丈夫偷晴出轨伍咏薇出面道歉，徐帆说只要冯小刚不吃亏，818娱乐丈夫偷晴出轨伍咏薇出面道歉，徐帆说不吃亏，818娱乐丈夫偷晴出轨伍咏薇出面道歉，徐帆说只要冯小刚不吃亏，818只要冯小刚不吃亏，818娱乐</span></li>
          </ul>
          <ul class="deet_list">
            <li><a href="#">我为什么要把房卖了！租房住？</a></li>
            <li><a href="#">关于动漫展的那些事儿</a></li>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!----龙江演出----->
    <div class="gsp_con_r_main ft30">
      <div class="gsp_right_tlt02">
        <p class="tlt02_bdr01">龙江演出</p>
        <p class="tlt02_bdr02">星在龙江</p>
      </div>
      <div class="gsp_con_r_main onlyshow" style="display:block;">
        <div class="gsp_right_show" >
          <ul class="show_pic">
        	<li><a href="#"><img src="/static/images/7.jpg" width="140" height="92" /><p>《蓝人秀》北京</p></a></li>
        	<li class="fl20"><a href="#"><img src="/static/images/6.jpg" width="140" height="92" /><p>歌特版睡美人</p></a></li>
          </ul>
          <ul class="show_list">
            <li><a href="#">我为什么要把房卖了！租房住？</a></li>
            <li><a href="#">关于动漫展的那些事儿</a></li>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
          </ul>
        </div>
      </div>
      <div class="gsp_con_r_main onlyshow" style="display:none;">
        <div class="gsp_right_show" >
          <ul class="show_pic">
        	<li><a href="#"><img src="/static/images/0.4.jpg" width="140" height="92" /><p>关于动漫展的那些事儿</p></a></li>
        	<li class="fl20"><a href="#"><img src="/static/images/55.jpg" width="140" height="92" /><p>歌特版睡美人</p></a></li>
          </ul>
          <ul class="show_list">
            <li><a href="#">我为什么要把房卖了！租房住？</a></li>
            <li><a href="#">关于动漫展的那些事儿</a></li>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <!----新闻热搜----->
    <div class="gsp_con_r_main ft30">
      <div class="gsp_right_tlt">
        <p><a href="#">新闻热搜</a></p>
      </div>
      <div class="gsp_con_r_main">
        <div class="gsp_seach_ci">
          <ul>
            <li><a href="#" style="color:#46abd0;">猴宝宝</a></li>
            <li><a href="#">315</a></li>
            <li><a href="#">老炮</a></li>
            <li><a href="#">安倍傻</a></li>
            <li><a href="#">银行</a></li>
            <li><a href="#">一路</a></li>
            <li><a href="#">钓鱼岛</a></li>
            <li><a href="#">普京</a></li>
            <li><a href="#">奥巴马</a></li>
            <li><a href="#">安倍2</a></li>
            <li><a href="#">新媒体集团</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <!----热专题----->
    <div class="gsp_con_r_main ft30">
      <div class="gsp_right_tlt">
        <p><a href="#">热专题</a></p>
      </div>
      <div class="gsp_con_r_main">
        <div class="gsp_right_list" >
          <ul>
            <li><a href="#">大S为汪小菲庆生：谢谢你对家的付出</a></li>
            <li><a href="#">TFBOYS王源中考遭私生饭尾随 粉丝校门口苦等</a></li>
            <li><a href="#">朱军水墨画拍出130万 专家：受到明星效应影响</a></li>
            <li><a href="#">许婧外籍新欢遭起底疑吸大麻</a></li>
            <li><a href="#">麦当娜19岁女儿真空出街</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!----二次元----->    
	<div class="gsp_con_r_main ft30">
      <div class="gsp_right_tlt">
        <p><a href="#">二次元</a></p>
      </div>
      <div class="gsp_con_r_main">
        <div class="gsp_right_list" >
          <ul>
            <li><a href="#">首登金曲奖舞台 嘻哈组合顽童携手张惠妹</a></li>
            <li><a href="#">林俊杰成金曲歌王 彭佳慧封后张惠妹颗粒</a></li>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
            <li><a href="#">陶喆巡演上海站即将起航 王力宏当嘉宾</a></li>
            <li><a href="#">穷游族必看，地球上旅费最便宜的19</a></li>
            <li><a href="#">首登金曲奖舞台 嘻哈组合顽童携手张惠妹</a></li>
            <li><a href="#">林俊杰成金曲歌王 彭佳慧封后张惠妹颗粒</a></li>
            <li><a href="#">再谈为什么线下财富管理公司基本都</a></li>
            <li><a href="#">陶喆巡演上海站即将起航 王力宏当嘉宾</a></li>
            <li><a href="#">穷游族必看，地球上旅费最便宜的19</a></li>
          </ul>
        </div>
      </div>
    </div>    

    <!----享阅读----->    
{#	<div class="gsp_con_r_main ft30">#}
{#      <div class="gsp_right_tlt">#}
{#        <p><a href="#">享阅读</a></p>#}
{#      </div>#}
{#      <div class="gsp_con_r_main">#}
{#        <div class="gsp_right_list" >#}
{#          <ul>#}
{#            <li><a href="#">陶喆巡演上海站即将起航 王力宏当嘉宾</a></li>#}
{#            <li><a href="#">林俊杰成金曲歌王 彭佳慧封后张惠妹</a></li>#}
{#            <li><a href="#">TFBOYS王源中考遭私生饭尾随 粉丝校门口苦等</a></li>#}
{#            <li><a href="#">大S为汪小菲庆生：谢谢你对家的付出</a></li>#}
{#            <li><a href="#">麦当娜19岁女儿真空出街</a></li>#}
{#          </ul>#}
{#        </div>#}
{#      </div>#}
{#    </div>     #}

    <!----合作媒体----->    
	<div class="gsp_con_r_main ft30">
      <div class="gsp_right_tlt">
        <p>合作媒体</p>
      </div>
      <div class="gsp_con_r_main">
        <div class="gsp_right_co" >
            <tt><span><a href="#">陶喆</a></span> <p>|</p></tt>
            <tt><span><a href="#">林俊杰</a></span> <p>|</p></tt>
            <tt><span><a href="#">TFBOYS王源</a></span> <p>|</p></tt>
            <tt><span><a href="#">大S付出</a></span> <p>|</p></tt>
            <tt><span><a href="#">麦当娜</a></span> <p>|</p></tt>
            <tt><span><a href="#">林俊杰</a></span> <p>|</p></tt>
            <tt><span><a href="#">TFBOYS王源</a></span> <p>|</p></tt>
            <tt><span><a href="#">大S付出</a></span> <p>|</p></tt>
            <tt><span><a href="#">麦当娜</a></span> <p>|</p></tt>
            <tt><span><a href="#">林俊杰</a></span> <p>|</p></tt>
            <tt><span><a href="#">大S付出</a></span> <p>|</p></tt>
            <tt><span><a href="#">麦当娜</a></span> <p>|</p></tt>
            <tt><span><a href="#">林俊杰</a></span> <p>|</p></tt>
            <tt><span><a href="#">TFBOYS王源</a></span> <p>|</p></tt>
            <tt><span><a href="#">大S付大S付出出</a></span> <p>|</p></tt>
            <tt><span><a href="#">麦当娜</a></span> <p>|</p></tt>
            <tt><span><a href="#">林俊杰</a></span> <p>|</p></tt>                        
            <tt><span><a href="#">许婧</a></span></tt>
        </div>
      </div>
    </div> 

    <!----集团logo----->    
	{% include "/kbg/user_control/page_foot.html" %}
    
  </div>
</div>
{% endblock %}
