{% extends "kbg/master_page/base_page.html" %}
{% block title %}侃八卦-黑龙江网{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        function goto(channel) {
            loading(channel, 1);
            $("#channel").val(channel);
        }
        function loading(channel, page) {
            $.getJSON('/kbg/' + channel + '/' + page, function (result) {
                if (page == 1) {
                    $('#ul_content').html(result);
                } else if(page<=20){
                    $('#ul_content').append(result);
                }
                $("#page").val(parseInt(page) + 1);
            });
        }
        function go_to() {
            var channel = $("#channel").val();
            var page = $("#page").val();
            loading(channel, page);
        }
        ;
    </script>
{#    <script src="http://cdn.bootcss.com/jquery.wookmark/2.1.2/wookmark.min.js"></script>#}
{#    <script src="http://cdn.bootcss.com/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>#}
{% endblock %}
{% block middle %}
    <!---------left-------->
    <!---------轮播图-------->
    <div class="gsp_con_l">
        <div class="gsp_flash">
            <div class="gsp_foucebox" style="margin:0 auto">
                <div id="fsD1" class="focus">
                    <div id="D1pic1" class="fPic">
                        {% for i in lht %}
                            <div class="fcon" style="display: none;">
                                <a target="_blank" href="/d/{{ i._id }}.html"><img src="{{ i.guide_image }}"
                                                                                   style="opacity: 1; "></a>
                                <span class="shadow"><a target="_blank"
                                                        href="/d/{{ i._id }}.html">{{ i.title }}</a></span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="fbg">
                        <div class="D1fBt" id="D1fBt">
                            <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>1</i></a>
                            <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>2</i></a>
                            <a href="javascript:void(0)" hidefocus="true" target="_self" class="current"><i>3</i></a>
                            <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>4</i></a>
                        </div>
                    </div>
                    <span class="prev"></span>
                    <span class="next"></span>
                </div>
            </div>
        </div>

        <!---------w950新闻分类 头条新闻-------->
        <div class="gsp_list_news">
            <ul class="gsp_list_n01">
                {% for i in tt %}
              <li>
                <p><a href="/d/{{ i["_id"] }}.html" target="_blank"><img src="{{ i.guide_image }}?w=165&h=100" width="165" height="100" /></a></p>
                <h2><a href="/d/{{ i["_id"] }}.html" target="_blank">{{ i.title }}</a></h2>
                <h5 class="Jushang">{{ i.summary }}</h5>
            </li>
                {% endfor %}
            </ul>

            <ul class="gsp_list_n02">
                <li class="n02_tit">
                    <h2>
                        {#                        <a href="#">#}
                        今日要闻
                        {#                        </a>#}
                    </h2>
                    {#                    <h3>2016-6-15</h3>#}
                </li>
                <li class="n02_lst">
                    {% for i in jryw %}
                        <h3 {% if loop.index%2==0 %}class="fl48"{% endif %}><a
                                href="/d/{{ i._id }}.html">{{ i.title }}</a></h3>
                    {% endfor %}

                </li>
            </ul>

            <ul class="gsp_list_n03">
                <div class="n03_pictit">
                    <p class="n03_tit01" onclick="return goto('28')">明星</p>
                    <p class="n03_tit02" onclick="return goto('39')">电影</p>
                    <p class="n03_tit02" onclick="return goto('40')">电视</p>
                    <p class="n03_tit02" onclick="return goto('41')">音乐</p>
                </div>
                <ul class="n03_picblock" style="display:block;">
                    {% for i in mx %}
                        {% if loop.index0==0 %}
                            <li class="n03_large"><a href="/d/{{ i._id }}.html" target="_blank"><img
                                    src="{{ i.guide_image }}?w=429&h=279"/>
                                <p>{{ i.title }}</p></a></li>
                        {% else %}
                            <li class="n03_small"><a href="/d/{{ i._id }}.html" target="_blank"><img
                                    src="{{ i.guide_image }}?w=219&h=139"/>
                                <p>{{ i.title }}</p></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="n03_picblock" style="display:none;">
                    {% for i in dy %}
                        <li class="n03_large"><a href="/d/{{ i._id }}.html" target="_blank"><img src="{{ i.guide_image }}?w=429&h=279"/>
                            <p>{{ i.title }}</p></a></li>
                    {% endfor %}
                    <div class="film_con_r_main fl20">
                        <div class="film_right_tlt">
                            <p><a href="/kbg/47.html">热点影评</a></p>
                        </div>
                        <div class="film_con_r_main">
                            <div class="film_right_list">
                                <ul>
                                    {% for i in rdyp %}
                                        <li><a href="/d/{{ i._id }}.html">{{ i.title }}</a></li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="film_con_r_main fl20">
                        <div class="film_right_tlt">
                            <p><a href="/kbg/48.html">本地影讯</a></p>
                        </div>
                        <div class="film_con_r_main">
                            <div class="film_right_list">
                                <ul>
                                    {% for i in bdyx %}
                                        <li><a href="/d/{{ i._id }}.html">{{ i.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul>
                <ul class="n03_picblock" style="display:none;">
                    {% for i in ds %}
                        {% if loop.index0==0 %}
                            <li class="n03_large"><a href="/d/{{ i._id }}.html" target="_blank"><img
                                    src="{{ i.guide_image }}?w=429&h=279"/>
                                <p>{{ i.title }}</p></a></li>
                        {% else %}
                            <li class="n03_small"><a href="/d/{{ i._id }}.html" target="_blank"><img
                                    src="{{ i.guide_image }}?w=219&h=139"/>
                                <p>{{ i.title }}</p></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="n03_picblock" style="display:none;">
                    {% for i in yy %}
                        {% if loop.index0==0 %}
                            <li class="n03_large"><a href="/d/{{ i._id }}.html" target="_blank"><img
                                    src="{{ i.guide_image }}?w=429&h=279"/>
                                <p>{{ i.title }}</p></a></li>
                        {% else %}
                            <li class="n03_small"><a href="/d/{{ i._id }}.html" target="_blank"><img
                                    src="{{ i.guide_image }}?w=219&h=139"/>
                                <p>{{ i.title }}</p></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </ul><!--lv1_h360-->
        </div>
        <div class="gsp_list_news">
            <ul class="gsp_list_n04" id="ul_content">
                {% for i in mx5 %}
                    <li>
                        <p {% if i.guide_image=="" %}style="display: none" {% endif %}><a href="/d/{{ i._id }}.html"
                                                                                          target="_blank"><img
                                src="{{ i.guide_image }}?w=260&h=170" width="260" height="170"/></a></p>
                        <h2><a href="/d/{{ i._id }}.html">{{ i.title }}</a></h2>
                        <h5>{{ i.summary }}</h5>
                        <h6>{{ i.publish_time }}</h6>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="gsp_list_news_jz" onclick="return go_to();">点击浏览更多文章</div>
        <input type="hidden" id="page" value="2">
        <input type="hidden" id="channel" value="28">
    </div>

    <!---------right-------->
    <div class="gsp_con_r">





        <!----爆料台----->
        <div class="gsp_con_r_main">
            <div class="gsp_right_tlt">
                <p style="text-align:left;"><a href="/kbg/46.html"><img
                        src="/static/images/gsp-deet.png" width="98" height="34"/></a>
                </p>
            </div>
            <div class="gsp_con_r_main">
                <div class="gsp_right_deet">
                    {% for i in blt1 %}
                        <ul class="deet_pic">
                            <li class="deet_pic_tit"><a href="/d/{{ i._id }}.html">{{ i.title }}</a></li>
                            <li class="deet_pic_img"><a href="/d/{{ i._id }}.html"><img
                                    src="{{ i.guide_image }}?w=140&h=105" width="140" height="105"/></a>
                            </li>
                            <li class="deet_pic_txt"><span>{{ i.summary }}</span>
                            </li>
                        </ul>
                    {% endfor %}
                    <ul class="deet_list">
                        {% for i in blt %}
                            <li><a href="/d/{{ i._id }}.html">{{ i.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!----龙江演出----->
        <div class="gsp_con_r_main ft30">
            <div class="gsp_right_tlt02">
                <p class="tlt02_bdr01" onclick="javascript:window.open('/kbg/49.html')">龙江演出</p>
                <p class="tlt02_bdr02" onclick="javascript:window.open('/kbg/50.html')">星在龙江</p>
            </div>
            <div class="gsp_con_r_main onlyshow" style="display:block;">
                <div class="gsp_right_show">

                    <ul class="show_pic">
                        {% for i in ljyc1 %}
                            <li {% if loop.index%2==0 %}class="fl20"{% endif %}><a href="/d/{{ i._id }}.html"><img
                                    src="{{ i.guide_image }}?w=140&h=92" width="140" height="92"/>
                                <p>{{ i.title }}</p></a></li>
                        {% endfor %}
                    </ul>

                    <ul class="show_list">
                        {% for i in ljyc %}
                            <li><a href="/d/{{ i._id }}.html">{{ i.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="gsp_con_r_main onlyshow" style="display:none;">
                <div class="gsp_right_show">
                    <ul class="show_pic">
                        {% for i in xzlj1 %}
                            <li {% if loop.index%2==0 %}class="fl20"{% endif %}><a href="/d/{{ i._id }}.html"><img
                                    src="{{ i.guide_image }}?w=140&h=92" width="140" height="92"/>
                                <p>{{ i.title }}</p></a></li>
                        {% endfor %}
                    </ul>
                    <ul class="show_list">
                        {% for i in xzlj %}
                            <li><a href="/d/{{ i._id }}.html">{{ i.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!----新闻热搜----->
        <div class="gsp_con_r_main ft30">
            <div class="gsp_right_tlt">
                <p>
                    {#                    <a href="#">#}
                    新闻热搜
                    {#                    </a>#}
                </p>
            </div>
            <div class="gsp_con_r_main">
                <div class="gsp_seach_ci">
                    <ul id="ul_hot">
                        {#                        <li><a href="#" style="color:#46abd0;">猴宝宝</a></li>#}
                    </ul>
                </div>
            </div>
        </div>

        <!----热专题----->
        <div class="gsp_con_r_main ft30">
            <div class="gsp_right_tlt">
                <p>
                    {#                    <a href="#">#}
                    热专题
                    {#                    </a>#}
                </p>
            </div>
            <div class="gsp_con_r_main">
                <div class="gsp_right_list">
                    <ul>
                        {% for i in zt %}
                            <li><a href="/d/{{ i._id }}.html">{{ i.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!----新闻排行----->
        <div class="gsp2_con_r_main ft30">
            <div class="gsp2_right_tlt">
                <p>
                    {#                    <a href="#">#}
                    新闻排行
                    {#                    </a>#}
                </p>
            </div>
            <div class="gsp2_con_r_main">
                <div class="gsp2_notice" style="margin:0 auto">
                    <div class="tab2-hd">
                        <ul class="tab2-nav">
                        <li>
                            {#                  <a href="#" target="_blank">#}
                            <a>24小时</a>
                            {#                  </a>#}
                        </li>
                        <li>
                            {#                  <a href="#" target="_blank">#}
                            <a> 周榜</a>
                            {#                  </a>#}
                        </li>
                        <li>
                            {#                  <a href="#" target="_blank">#}
                            <a>月榜</a>
                            {#                  </a>#}
                        </li>
                        </ul>
                    </div>
                    <div class="tab2-bd">
                        <div class="tab2-pal">
                            <ul>
                                {% for i in hours %}
                                    <li>
                                        <p><img src="/static/images/no{{ loop.index }}.jpg" width="21" height="25"/></p>
                                        <span><a href="/d/{{ i._id }}.html">{{ i.title }}</a></span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab2-pal" style=" display: none">
                            <ul>
                                {% for i in zb %}
                                    <li>
                                        <p><img src="/static/images/no{{ loop.index }}.jpg" width="21" height="25"/></p>
                                        <span><a href="/d/{{ i._id }}.html">{{ i.title }}</a></span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab2-pal" style=" display: none">
                            <ul>
                                {% for i in yb %}
                                    <li>
                                        <p><img src="/static/images/no{{ loop.index }}.jpg" width="21" height="25"/></p>
                                        <span><a href="/d/{{ i._id }}.html">{{ i.title }}</a></span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!----二次元----->
{#        <div class="gsp_con_r_main ft30">#}
{#            <div class="gsp_right_tlt">#}
{#                <p><a href="/list/27">二次元</a></p>#}
{#            </div>#}
{#            <div class="gsp_con_r_main">#}
{#                <div class="gsp_right_list">#}
{#                    <ul>#}
{#                        {% for i in ecy %}#}
{#                            <li><a href="/d/{{ i._id }}.html">{{ i.title }}</a></li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <!----享阅读----->
        {#	<div class="gsp_con_r_main ft30">#}
        {#      <div class="gsp_right_tlt">#}
        {#        <p><a href="#">享阅读</a></p>#}
        {#      </div>#}
        {#      <div class="gsp_con_r_main">#}
        {#        <div class="gsp_right_list" >#}
        {#          <ul>#}
        {#            <li><a href="#">陶喆巡演上海站即将起航 王力宏当嘉宾</a></li>#}
        {#            <li><a href="#">林俊杰成金曲歌王 彭佳慧封后张惠妹</a></li>#}
        {#            <li><a href="#">TFBOYS王源中考遭私生饭尾随 粉丝校门口苦等</a></li>#}
        {#            <li><a href="#">大S为汪小菲庆生：谢谢你对家的付出</a></li>#}
        {#            <li><a href="#">麦当娜19岁女儿真空出街</a></li>#}
        {#          </ul>#}
        {#        </div>#}
        {#      </div>#}
        {#    </div>     #}

        <!----合作媒体----->
        <div class="gsp_con_r_main ft30">
            <div class="gsp_right_tlt">
                <p>合作媒体</p>
            </div>
            <div class="gsp_con_r_main">
                <div class="gsp_right_co">
                    {% for i in hzmt %}
                        <tt><span><a href="{{ i.Url }}" target="_blank">{{ i.Name }}</a></span>
                            {% if loop.last %} {% else %}   <p>|</p>{% endif %}
                        </tt>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!----集团logo----->
        {% include "kbg/user_control/page_foot.html" %}

    </div>
    </div>

{#    <script type="text/javascript">#}
{#        (function ($) {#}
{#            var wookmark,#}
{#                    container = '#ul_content',#}
{#                    $container = $(container),#}
{#                    $window = $(window),#}
{#                    $document = $(document);#}
{#            imagesLoaded(container, function () {#}
{#                wookmark = new Wookmark(container, {#}
{#                    offset: 0, // Optional, the distance between grid items#}
{#                    itemWidth: 870 // Optional, the width of a grid item#}
{#                });#}
{#            });#}
{##}
{#            function onScroll() {#}
{#                // Check if we're within 100 pixels of the bottom edge of the broser window.#}
{#                 var winHeight = window.innerHeight ? window.innerHeight : $(window).height(), // iphone fix#}
{#                    closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);#}
{#                if (closeToBottom) {#}
{#                    var page = $("#page").val();#}
{#                    var channel = $("#channel").val();#}
{#                    console.log(page);#}
{#                    if (parseInt(page)<=10) {#}
{#                        $.ajaxSettings.async = false;#}
{#                        $.getJSON('/kbg/' + channel + '/' + page, function (result) {#}
{#                            var $firstTen = jQuery.parseHTML(result);#}
{#                            $container.append($firstTen);#}
{#                            $("#page").val(parseInt(page) + 1);#}
{#                            wookmark.initItems();#}
{#                            wookmark.layout(true, function () {#}
{#                                // Fade in items after layout#}
{#                                setTimeout(function () {#}
                                    {#                            $firstTen.css('opacity', 1);#}
{#                                }, 300);#}
{##}
{#                            });#}
{#                        })#}
{#                    }#}
{##}
{#                }#}
{#            };#}
{##}
{#            // Capture scroll event.#}
{#            $window.on('scroll.wookmark', onScroll);#}
{##}
{#        })(jQuery);#}
{##}
{##}
{#    </script>#}
{% endblock %}
