{% extends "psd/master_page/base_page.html" %}
{% block title %}品深度 - 黑龙江网{% endblock %}
{% block head %}{{ super() }}<meta name="keywords" content="{{ detail.word }}">
    <meta name="description" content="{{ detail.title }}">{% endblock %}
{% block middle %}
    <div class="content ft30">
        <!--left-->
        <!--轮播图-->
        <div class="gsp_con_l">
            <div class="gsp_flash">
                <div class="gsp_foucebox" style="margin:0 auto">
                    <div id="fsD1" class="focus">
                        <div id="D1pic1" class="fPic">{% for i in lht %}
                            <div class="fcon" style="display: none;">
                                <a target="_blank" href="/d/{{ i._id }}.html"><img src="{{ i.guide_image }}"
                                                                                   style="opacity: 1; "></a>
                                <span class="shadow"><a target="_blank"
                                                        href="/d/{{ i._id }}.html">{{ i.title }}</a></span>
                            </div>{% endfor %}
                        </div>
                        <div class="fbg">
                            <div class="D1fBt" id="D1fBt">
                                <a href="javascript:void(0)" hidefocus="true" target="_self"
                                   class="current"><i>1</i></a>
                                <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>2</i></a>
                                <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>3</i></a>
                                <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>4</i></a>
                            </div>
                        </div>
                        <span class="prev"></span>
                        <span class="next"></span>
                    </div>
                </div>
            </div>
            <!--w950新闻分类-->
            <div class="dpt_list_news">
                <ul class="dpt_list_n01">
                    <div class="dpt_left_news">
                        <ul>{% for i in ttxw %}
                            <li {% if loop.index%3==0 %} {% else %}class="fr30"{% endif %}>
                                <p><a href="/d/{{ i._id }}.html" target="_blank"><img src="{{ i.guide_image }}"
                                                                                      width="261" height="171"/></a></p>
                                <h3 class="Txt_cu"><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></h3>
                                <h4>{{ i.summary|truncate(50) }}</h4></li>{% endfor %}
                        </ul>
                    </div>
                </ul>
                <ul class="dpt_list_n03 ft30">
                    <div class="n03_pictit">
                        <p class="n03_tit01" onclick="return goto('42')">今日热评</p>
                        <p class="n03_tit02" onclick="return goto('43')">政治经济</p>
                        <p class="n03_tit02" onclick="return goto('44')">社会民生</p>
                        <p class="n03_tit02" onclick="return goto('45')">文化娱乐</p>
                        <p class="n03_tit02" onclick="return goto('52')">教育科技</p>
                    </div>
                    <ul class="dpt_list_n04" style="display:block;">{% for i in jrrp %}
                        <li>
                            <p><a href="/d/{{ i._id }}.html" target="_blank"><img src="{{ i.guide_image }}?w=260&h=170"
                                                                                  width="260" height="170"/></a></p>
                            <h2><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></h2>
                            <h5>{{ i.summary }}</h5>
                            <h6>{{ i.publish_time }}</h6>
                        </li>{% endfor %}
                    </ul>
                    <ul class="dpt_list_n04" style="display:none;">{% for i in zzjj %}
                        <li>
                            <p><a href="/d/{{ i._id }}.html" target="_blank"><img src="{{ i.guide_image }}?w=260&h=170"
                                                                                  width="260" height="170"/></a></p>
                            <h2><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></h2>
                            <h5>{{ i.summary }}</h5>
                            <h6>{{ i.publish_time }}</h6>
                        </li>{% endfor %}
                    </ul>
                    <ul class="dpt_list_n04" style="display:none;">{% for i in shms %}
                        <li>
                            <p><a href="/d/{{ i._id }}.html" target="_blank"><img src="{{ i.guide_image }}?w=260&h=170"
                                                                                  width="260" height="170"/></a></p>
                            <h2><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></h2>
                            <h5>{{ i.summary }}</h5>
                            <h6>{{ i.publish_time }}</h6>
                        </li>{% endfor %}
                    </ul>
                    <ul class="dpt_list_n04" style="display:none;">{% for i in whyl %}
                        <li>
                            <p><a href="/d/{{ i._id }}.html" target="_blank"><img src="{{ i.guide_image }}?w=260&h=170"
                                                                                  width="260" height="170"/></a></p>
                            <h2><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></h2>
                            <h5>{{ i.summary }}</h5>
                            <h6>{{ i.publish_time }}</h6>
                        </li>{% endfor %}
                    </ul>
                    <ul class="dpt_list_n04" style="display:none;">{% for i in jykj %}
                        <li>
                            <p><a href="/d/{{ i._id }}.html" target="_blank"><img src="{{ i.guide_image }}?w=260&h=170"
                                                                                  width="260" height="170"/></a></p>
                            <h2><a href="/d/{{ i._id }}.html" target="_blank">{{ i.title }}</a></h2>
                            <h5>{{ i.summary }}</h5>
                            <h6>{{ i.publish_time }}</h6>
                        </li>{% endfor %}
                    </ul>
                </ul><!--lv1_h360-->
            </div>
            <div class="dpt_list_news_jz" onclick="return go_to();">点击浏览更多文章</div>
            <input type="hidden" id="page" value="2">
            <input type="hidden" id="channel" value="42">
        </div>
        <!--right-->
        {% include "psd/master_page/right_side_bar.html" %}
    </div>
{% endblock %}
{% block footer %}
    {% include "master_page/footer_page.html" %}
    <script>
        function goto(channel) {
            loading(channel, 1);
            $("#channel").val(channel);
        }
        function loading(channel, page) {
            $.getJSON('/psd/' + channel + '/' + page + '/', function (result) {
                if (page == 1) {
                    $('.dpt_list_n04').html(result);
                } else {
                    $('.dpt_list_n04').append(result);
                }
                $("#page").val(parseInt(page) + 1);
            });
        }
        function go_to() {
            var channel = $("#channel").val();
            var page = $("#page").val();
            loading(channel, page);
        }
    </script>
{% endblock %}
